{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block stylesheets %}
<style>
    
</style>
{% endblock %}

{% block body %}
<section id="carrousel" class="carrousel">
    <div class="carrousel__div" style="background: url({{asset('assets/medias/bg/homeCover.png')}}) top / cover no-repeat;">
        <div class="container grid-container" style="padding: 0;">
            <div class="carrousel__title">
                <h1><span class="fw-100">Des </span>commerces <br><span class="fw-100">en plein coeur de Zone 4</span></h1>
                <p>Livraison : 2<sup>e</sup> semestre 2025</p>
            </div>
            <div class="carrousel__form-div d-flex-end">
                <div>
                    <div class="d-flex-end mb-2">
                        <span>Développé par</span>
                        <img src="{{ asset('assets/medias/logos/logoPFO_white.png') }}" alt="PFO" height="45">
                    </div>
                    <form action="" method="post" class="carrousel__form">
                        <span class="carrousel__form-title _font-brother-1816">Nous vous répondons</span>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Raison sociale</label>
                        </div>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Nom & Prénom</label>
                        </div>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Email</label>
                        </div>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Télephone</label>
                        </div>
                        <div class="input-container">
                            <textarea rows="3" required=""/></textarea>
                            <label>Quelle activité souhaitez-vous installer ?</label>
                        </div>
                        <div class="d-flex-center my-1">
                            <button class="btn__prm">Envoyer</button>
                        </div>
                        <span class="carrousel__form-desc">Un e-mail incluant les tarifications de location
                            demandées vous sera transmis dans les
                            meilleurs délais.</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="presentation-s1" class="s1-container" style="background-color: #F0F0F0;">
    <div class="presentation__text">
        <span class="title__prm">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="360" height="118" viewBox="0 0 486.043 157.252">
                <defs>
                <clipPath id="clip-path">
                    <rect id="Rectangle_365" data-name="Rectangle 365" width="486.043" height="157.252" fill="none"/>
                </clipPath>
                </defs>
                <g id="Groupe_676" data-name="Groupe 676" clip-path="url(#clip-path)">
                <path id="Tracé_2090" data-name="Tracé 2090" d="M67.3,26.05c0,6.9-5.6,10.5-13.7,10.5H40.9v-36H52.549c7.652,0,13.4,3.35,13.4,10.1a7.514,7.514,0,0,1-4.6,7,8.882,8.882,0,0,1,5.949,8.4M52.851,15.55a10.759,10.759,0,0,0,2.9-.3,3.93,3.93,0,0,0,2.4-3.951c0-3-2.05-4.6-5.1-4.6h-4.8v8.85ZM48.25,30.4h5.7c3.049,0,5.45-1.7,5.45-4.851s-2.2-4.8-4.95-4.8h-6.2Z" fill="#040405"/>
                <rect id="Rectangle_362" data-name="Rectangle 362" width="7.7" height="36.002" transform="translate(75.049 0.55)" fill="#040405"/>
                <path id="Tracé_2091" data-name="Tracé 2091" d="M92.549,36.552V.55h11.5c12.25,0,20,7.45,20,18s-7.7,18-19.9,18ZM100.248,7V30.1h3.8c7.7,0,12.25-5,12.25-11.551C116.3,12.05,111.749,7,103.948,7Z" fill="#040405"/>
                <path id="Tracé_2092" data-name="Tracé 2092" d="M144.048,26.3c0,7.7-3.75,10.951-10.551,10.951a12.162,12.162,0,0,1-5-.95V29.8a8.452,8.452,0,0,0,3.75.9c2.65,0,4.1-1.349,4.1-4.049V.55h7.7Z" fill="#040405"/>
                <path id="Tracé_2093" data-name="Tracé 2093" d="M220.3,37.1,200.547,18.151,198.2,16.1V36.552h-7.55V0h.3l19.7,18.951,2.3,2.05V.55h7.6V37.1Z" fill="#040405"/>
                <path id="Tracé_2094" data-name="Tracé 2094" d="M31.452,69.4A21.6,21.6,0,0,0,21.5,66.9c-7.3,0-11.9,5.25-11.9,11.65A11.238,11.238,0,0,0,21.251,90.2,22.805,22.805,0,0,0,31.7,87.7v7.15a24.849,24.849,0,0,1-11,2.4A18.327,18.327,0,0,1,1.9,78.55c0-10.5,7.95-18.7,19.051-18.7a22.1,22.1,0,0,1,10.5,2.5Z" fill="#040405"/>
                <path id="Tracé_2095" data-name="Tracé 2095" d="M83.549,84.251v12.3h-7.7v-36h11.7c8.3,0,13.851,4.1,13.851,11.85S95.85,84.251,87.549,84.251Zm0-17.251V77.751h4.4C91.3,77.751,93.6,76,93.6,72.4S91.2,67,87.749,67Z" fill="#040405"/>
                <rect id="Rectangle_363" data-name="Rectangle 363" width="7.7" height="36.002" transform="translate(108.248 60.55)" fill="#040405"/>
                <path id="Tracé_2096" data-name="Tracé 2096" d="M140.1,67V96.552h-7.7V67H122.347V60.55H150.2V67Z" fill="#040405"/>
                <path id="Tracé_2097" data-name="Tracé 2097" d="M190.747,96.552v-36h7.7V90.1H212.3v6.45Z" fill="#040405"/>
                <path id="Tracé_2098" data-name="Tracé 2098" d="M219.1,96.552v-36h20.8V67H226.8v8.2h13.1v6.2H226.8v8.7h13.1v6.45Z" fill="#040405"/>
                <path id="Tracé_2099" data-name="Tracé 2099" d="M465.242,156.552v-36h20.8V127h-13.1v8.2h13.1v6.2h-13.1v8.7h13.1v6.45Z" fill="#040405"/>
                <rect id="Rectangle_364" data-name="Rectangle 364" width="7.7" height="36.002" transform="translate(4.15 120.55)" fill="#040405"/>
                <path id="Tracé_2100" data-name="Tracé 2100" d="M51.3,157.1,31.551,138.151,29.2,136.1v20.451H21.65V120h.3l19.7,18.951,2.3,2.05V120.55h7.6V157.1Z" fill="#040405"/>
                <path id="Tracé_2101" data-name="Tracé 2101" d="M88.651,129.4a21.6,21.6,0,0,0-9.951-2.5c-7.3,0-11.9,5.25-11.9,11.65A11.238,11.238,0,0,0,78.45,150.2,22.805,22.805,0,0,0,88.9,147.7v7.15a24.849,24.849,0,0,1-11,2.4,18.327,18.327,0,0,1-18.8-18.7c0-10.5,7.95-18.7,19.051-18.7a22.1,22.1,0,0,1,10.5,2.5Z" fill="#040405"/>
                <path id="Tracé_2102" data-name="Tracé 2102" d="M112.85,119.849A18.7,18.7,0,1,1,94,138.551a18.458,18.458,0,0,1,18.851-18.7m0,30.352c6.5,0,11.1-5.2,11.1-11.65,0-6.4-4.6-11.651-11.1-11.651s-11.1,5.25-11.1,11.651c0,6.45,4.6,11.65,11.1,11.65" fill="#040405"/>
                <path id="Tracé_2103" data-name="Tracé 2103" d="M168.9,157.1l-19.751-18.951L146.8,136.1v20.451h-7.55V120h.3l19.7,18.951,2.3,2.05V120.55h7.6V157.1Z" fill="#040405"/>
                <path id="Tracé_2104" data-name="Tracé 2104" d="M193.3,127v29.552h-7.7V127H175.547v-6.45H203.4V127Z" fill="#040405"/>
                <path id="Tracé_2105" data-name="Tracé 2105" d="M226.348,119.849a18.7,18.7,0,1,1-18.851,18.7,18.458,18.458,0,0,1,18.851-18.7m0,30.352c6.5,0,11.1-5.2,11.1-11.65,0-6.4-4.6-11.651-11.1-11.651s-11.1,5.25-11.1,11.651c0,6.45,4.6,11.65,11.1,11.65" fill="#040405"/>
                <path id="Tracé_2106" data-name="Tracé 2106" d="M282.347,143.451c0,8.4-5.55,13.8-15.051,13.8-9.45,0-15.051-5.4-15.051-13.8v-22.9h7.7V142.7c0,4.7,2.65,7.5,7.35,7.5,4.751,0,7.351-2.8,7.351-7.5V120.55h7.7Z" fill="#040405"/>
                <path id="Tracé_2107" data-name="Tracé 2107" d="M304.3,120.55c8.351,0,13.9,4.15,13.9,11.85a10.533,10.533,0,0,1-6.85,10.251l7.55,13.9h-8.15l-6.351-12.6h-5.2v12.6h-7.55v-36ZM299.2,127v10.751h5.5c3.4,0,5.75-1.7,5.75-5.351,0-3.6-2.449-5.4-5.95-5.4Z" fill="#040405"/>
                <path id="Tracé_2108" data-name="Tracé 2108" d="M355.947,157.1,336.2,138.151l-2.351-2.05v20.451h-7.55V120h.3l19.7,18.951,2.3,2.05V120.55h7.6V157.1Z" fill="#040405"/>
                <path id="Tracé_2109" data-name="Tracé 2109" d="M429.145,146.05c0,6.9-5.6,10.5-13.7,10.5h-12.7v-36h11.65c7.651,0,13.4,3.35,13.4,10.1a7.514,7.514,0,0,1-4.6,7,8.882,8.882,0,0,1,5.95,8.4m-14.45-10.5a10.759,10.759,0,0,0,2.9-.3,3.93,3.93,0,0,0,2.4-3.951c0-3-2.05-4.6-5.1-4.6h-4.8v8.85Zm-4.6,14.851h5.7c3.05,0,5.45-1.7,5.45-4.851s-2.2-4.8-4.95-4.8h-6.2Z" fill="#040405"/>
                <path id="Tracé_2110" data-name="Tracé 2110" d="M436.893,156.552v-36h7.7V150.1h13.851v6.45Z" fill="#040405"/>
                <path id="Tracé_2111" data-name="Tracé 2111" d="M17.751,0h-.3L0,36.552H8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351h8.05Z" fill="#040405"/>
                <path id="Tracé_2112" data-name="Tracé 2112" d="M52.7,60h-.3L34.95,96.552H43L45.8,90.2l2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351H70.2Z" fill="#040405"/>
                <path id="Tracé_2113" data-name="Tracé 2113" d="M167.6,60h-.3L149.848,96.552h8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351h8.05Z" fill="#040405"/>
                <path id="Tracé_2114" data-name="Tracé 2114" d="M379.6,120h-.3l-17.451,36.552h8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351h8.05Z" fill="#040405"/>
                <path id="Tracé_2115" data-name="Tracé 2115" d="M167.5,0h-.3L149.747,36.552h8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351H185Z" fill="#040405"/>
                </g>
            </svg>
        </span>
        <div class="presentation__text-div">
            <div class="d-flex gap-2 mb-2">
                <span class="icones d-flex gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 49.175 49.104">
                        <defs>
                            <clipPath id="clip-path">
                            <rect id="Rectangle_314" data-name="Rectangle 314" width="49.175" height="49.104" fill="none"/>
                            </clipPath>
                        </defs>
                        <g id="Groupe_506" data-name="Groupe 506" clip-path="url(#clip-path)">
                            <path id="Tracé_1852" data-name="Tracé 1852" d="M349.922,158.7v28.866A3.121,3.121,0,0,1,348,189.487H337.55a2.72,2.72,0,0,1-1.773-1.535,12.979,12.979,0,0,1-.08-4.97c.066-.222.313-.435.313-.639s-.266-.5-.331-.718a15.18,15.18,0,0,1,0-4.7c.067-.225.328-.508.328-.72,0-.174-.242-.509-.307-.74a13.964,13.964,0,0,1,0-4.758c.066-.222.313-.435.313-.639s-.266-.5-.331-.718a15.18,15.18,0,0,1,0-4.7c.067-.225.328-.507.328-.72s-.265-.5-.33-.718a14.645,14.645,0,0,1,.03-4.769,2.691,2.691,0,0,1,2.286-1.742c3.031.174,6.4-.273,9.39-.015a2.737,2.737,0,0,1,2.538,2.017m-2.228.215c-.106-.106-.352-.11-.5-.123l-9.168.046c-.278.1-.347.306-.38.579a12.263,12.263,0,0,0,.188,3.364l9.72.023a.357.357,0,0,0,.212-.172,25.93,25.93,0,0,0,.051-3.217c-.012-.149-.017-.395-.123-.5m-9.594,6.04a.493.493,0,0,0-.3.175,13.461,13.461,0,0,0-.142,3.3.662.662,0,0,0,.349.514l9.62-.029a.365.365,0,0,0,.172-.212,29.37,29.37,0,0,0,.017-3.335c-.041-.215-.186-.308-.377-.39Zm0,6.138a.493.493,0,0,0-.3.175,13.461,13.461,0,0,0-.142,3.3.662.662,0,0,0,.349.515l9.62-.029a.365.365,0,0,0,.172-.212,29.372,29.372,0,0,0,.017-3.335c-.041-.215-.186-.308-.377-.39Zm0,6.138a.493.493,0,0,0-.3.175,13.461,13.461,0,0,0-.142,3.3.662.662,0,0,0,.349.514l9.62-.029a.365.365,0,0,0,.172-.212,29.372,29.372,0,0,0,.017-3.335c-.041-.214-.186-.308-.377-.39Zm9.594,6.235c-.106-.106-.352-.11-.5-.123l-9.168.046c-.278.1-.347.306-.38.579a12.263,12.263,0,0,0,.188,3.364l9.72.023a.357.357,0,0,0,.212-.172,25.93,25.93,0,0,0,.051-3.217c-.012-.149-.017-.395-.123-.5" transform="translate(-300.746 -140.383)"/>
                            <path id="Tracé_1853" data-name="Tracé 1853" d="M180.281,242.743H169.732a2.822,2.822,0,0,1-1.919-2.253,17.41,17.41,0,0,1,.173-4.336c.065-.185.306-.413.306-.556s-.265-.421-.335-.624a16.327,16.327,0,0,1,0-4.888c.063-.2.3-.5.316-.643.01-.125-.192-.316-.25-.484a13.824,13.824,0,0,1-.04-5.081c.065-.184.306-.413.306-.556s-.265-.421-.335-.624a16.4,16.4,0,0,1,0-4.888,2.743,2.743,0,0,1,2.311-1.717c3,.137,6.224-.223,9.2-.016a2.751,2.751,0,0,1,2.606,1.805,14.712,14.712,0,0,1-.088,4.94c-.056.169-.262.352-.251.482.012.146.253.446.316.643a14.307,14.307,0,0,1-.064,5.012c-.056.169-.262.352-.251.482.013.155.259.441.318.641a14.248,14.248,0,0,1-.068,5.013c-.058.168-.26.358-.25.484.013.155.259.441.318.641a18.376,18.376,0,0,1,.145,4.267,2.822,2.822,0,0,1-1.919,2.253m-9.905-24.53c-.29.094-.416.2-.457.5a21.689,21.689,0,0,0,.075,3.291.323.323,0,0,0,.185.2l9.719-.031a.5.5,0,0,0,.148-.236,21.128,21.128,0,0,0,.037-3.212.562.562,0,0,0-.372-.491Zm0,6.138c-.323.081-.417.29-.454.6a19.8,19.8,0,0,0,.072,3.192.323.323,0,0,0,.185.2l9.719-.031a.5.5,0,0,0,.148-.236,24.258,24.258,0,0,0,.041-3.311c-.041-.215-.186-.308-.377-.39Zm0,6.138c-.323.081-.417.29-.454.6a19.8,19.8,0,0,0,.072,3.192.323.323,0,0,0,.185.2l9.719-.031a.5.5,0,0,0,.148-.236,24.257,24.257,0,0,0,.041-3.311c-.041-.214-.186-.308-.377-.39Zm0,6.138c-.29.094-.416.2-.457.5a21.69,21.69,0,0,0,.075,3.291.323.323,0,0,0,.185.2l9.719-.031a.5.5,0,0,0,.148-.236,21.128,21.128,0,0,0,.037-3.212.562.562,0,0,0-.372-.491Z" transform="translate(-150.382 -193.639)"/>
                            <path id="Tracé_1854" data-name="Tracé 1854" d="M1.991,243.629a2.817,2.817,0,0,1-1.918-2.158,18.558,18.558,0,0,1,.173-4.527c.052-.157.269-.381.274-.461a9.531,9.531,0,0,1-.446-1.15,26.023,26.023,0,0,1,.009-4.02,2.434,2.434,0,0,1,2.1-1.975,7.331,7.331,0,0,1-1.167-8.695,7.127,7.127,0,0,1,10.759-2,7.311,7.311,0,0,1,.573,10.645,2.725,2.725,0,0,1,1.9,1.555,13.713,13.713,0,0,1,.072,4.827,8.73,8.73,0,0,0-.336.812c0,.129.25.418.315.639a12.927,12.927,0,0,1-.079,4.969,2.644,2.644,0,0,1-1.773,1.535ZM7.057,219.1c-6.82.238-6.3,10.859.831,10.139,6.145-.621,5.7-10.367-.831-10.139m-4.422,12.27c-.29.094-.416.2-.457.5a28.811,28.811,0,0,0,.052,3.314.357.357,0,0,0,.212.172l9.384.024a.5.5,0,0,0,.479-.384,16.135,16.135,0,0,0,.042-2.832c-.029-.286-.068-.689-.377-.774Zm0,6.138c-.29.094-.416.2-.457.5a28.811,28.811,0,0,0,.052,3.314.357.357,0,0,0,.212.172l9.384.024a.5.5,0,0,0,.479-.384,16.134,16.134,0,0,0,.042-2.832c-.029-.287-.068-.689-.377-.774Z" transform="translate(0 -194.525)"/>
                            <path id="Tracé_1855" data-name="Tracé 1855" d="M92.975,6.779c-.753-.754.19-1.977.112-2.844L80.467,14.043a1.183,1.183,0,0,1-1.052.3c-2.347-1.506-4.591-3.2-6.852-4.845L60.884,19.2a1.079,1.079,0,1,1-1.318-1.7L71.7,7.387a1.077,1.077,0,0,1,1.345-.1l6.442,4.592.221.063L91.791,2.255c-.795-.239-1.7.336-2.445-.143A1.03,1.03,0,0,1,89.062.582c.289-.418.946-.454,1.431-.488C92.019-.013,93.662.049,95.2,0a1.027,1.027,0,0,1,.865,1.157c-.079,1.519-1.139,3.757-1.375,5.338a1.071,1.071,0,0,1-1.714.284" transform="translate(-52.973)"/>
                        </g>
                    </svg>
                    <span><b>2 500 EUR :</b> PIB / Habitant
                        x2 sur la période
                        2013 – 2023
                    </span>
                </span>
                <span class="icones d-flex gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 49.042 49.103">
                        <defs>
                        <clipPath id="clip-path">
                            <rect id="Rectangle_313" data-name="Rectangle 313" width="49.042" height="49.103" fill="none"/>
                        </clipPath>
                        </defs>
                        <g id="Groupe_504" data-name="Groupe 504" clip-path="url(#clip-path)">
                        <path id="Tracé_1849" data-name="Tracé 1849" d="M0,233.913a3.412,3.412,0,0,1,2.3-1.636c1.862-.539,5.848-.567,7.156,1.123a3.731,3.731,0,0,1,.355.565v6.692a9.863,9.863,0,0,1,6.566.024c.436.184,1.608.966,1.608,1.457v2.605a9.864,9.864,0,0,1,6.566.024c.436.184,1.608.966,1.608,1.457v8.633H27.79v-7.714a3.076,3.076,0,0,1,.46-.46h6.079V240.6a3.076,3.076,0,0,1,.46-.46h6.079v-7.714c0-.206.558-.446.76-.466,2.124-.211,4.592.174,6.755,0,.31-.019.413.29.659.414v23.7c-.246.124-.348.433-.659.414l-23.1-.008a15.664,15.664,0,0,1-2.6.82H19.821c-.6-.164-1.2-.3-1.79-.509-.261-.095-.723-.43-.91-.414-.109.009-.905.469-1.186.561-.468.154-.967.192-1.426.362H11.647c-.6-.164-1.2-.3-1.79-.509-.261-.095-.723-.43-.91-.414-.109.009-.905.469-1.186.561-.468.154-.967.192-1.426.362H3.474c-1.359-.334-2.76-.6-3.474-1.941Zm8.071.41c-1.57-.795-4.706-1.009-6.2-.026-.1.064-.184-.012-.131.227,1.57.795,4.706,1.009,6.2.026.1-.064.184.012.131-.227m39.336-.717H42.5v21.251h4.9ZM8.174,236.365a10.022,10.022,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm0,4.087a10.045,10.045,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm8.071,2.045c-1.57-.795-4.706-1.009-6.2-.026-.1.064-.184-.012-.131.227,1.57.795,4.706,1.009,6.2.026.1-.064.184.012.131-.227m24.624-.717h-4.9v13.078h4.9ZM8.174,244.538a10.045,10.045,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm8.174,0a10.045,10.045,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm8.071,2.045c-1.57-.795-4.706-1.009-6.2-.026-.1.064-.184-.012-.131.227,1.57.795,4.706,1.009,6.2.026.1-.064.184.012.131-.227m9.911,1.735h-4.9v6.539h4.9Zm-26.156.307a10.022,10.022,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm8.174,0a10.022,10.022,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm8.174,0a10.022,10.022,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0ZM8.174,252.712a10.022,10.022,0,0,1-6.539,0v2.095a6.7,6.7,0,0,0,6.539,0Zm8.174,0a10.022,10.022,0,0,1-6.539,0v2.095a6.7,6.7,0,0,0,6.539,0Zm8.174,0a10.022,10.022,0,0,1-6.539,0v2.095a6.7,6.7,0,0,0,6.539,0Z" transform="translate(0 -208.207)"/>
                        <path id="Tracé_1850" data-name="Tracé 1850" d="M45.036.062A19.951,19.951,0,0,1,62.666,17.944a6.707,6.707,0,0,1-1.687.2A17.9,17.9,0,0,0,55.6,6.821l-.21.059L51.48,10.136c-.044.184,1.253,2.893,1.372,3.411a1.564,1.564,0,0,1,.046.66,40.619,40.619,0,0,1-2.5,3.429c-.147.153-.294.364-.514.406-1.069.2-3.068-.253-4.039.048a20.956,20.956,0,0,0-2.338,1.757l.045.237,2.422,3.661c.278.162,2.519-.086,3.093.023a1.522,1.522,0,0,1,.564.458V30.3H48V25.4h-2.81c-.323,0-3.159-4.749-3.673-5.317-.219-.634-.009-.834.407-1.219.3-.28,3.093-2.38,3.291-2.431.812-.208,3.515.2,4.01-.077.318-.685,1.571-1.791,1.788-2.406a.42.42,0,0,0,.035-.324L49.658,10.2l0-.671,4.576-3.9A14.667,14.667,0,0,0,52.384,4.31a10.861,10.861,0,0,0-1.524-.836c-.111-.028-.172-.045-.258.053l-5,5.017c-.183,1.676.107,3.414-.149,5.061l-5.22,3.566a1.042,1.042,0,0,1-.87-.041l-3.183-3.152L32.062,13.9c-.158-.145-.365-.284-.409-.511-.13-.682.181-2.531-.053-3.012l-2.659-1.6a16.837,16.837,0,0,0-3.626,8.451h4.24c.974.982,1.666,2.207,2.571,3.253l6.469.07a2,2,0,0,1,.35.365,41.048,41.048,0,0,1,2.433,4,1.39,1.39,0,0,1,.078.736c-.12.612-3.268,2.447-3.268,2.659V30.3H36.555v-2.81c0-.232,2.632-1.979,2.945-2.348l-1.713-2.868-.358-.153-6.114-.016a31.6,31.6,0,0,1-2.575-3.249H25.215a11.37,11.37,0,0,0,.095,3.1c-.067.238-1.448.256-1.73.269A19.8,19.8,0,0,1,37.09.954,20.918,20.918,0,0,1,41.255.062a29.354,29.354,0,0,1,3.78,0M33.286,9.512c.178.631-.133,2.081,0,2.81h3.627c.21,0,2.514,2.7,2.978,2.948l4-2.56.074-4.882L49.02,2.719a18.136,18.136,0,0,0-13.045.492,18.876,18.876,0,0,0-5.957,4.156c0,.2,3.147,1.72,3.268,2.145" transform="translate(-21.026 -0.001)"/>
                        <path id="Tracé_1851" data-name="Tracé 1851" d="M262.886,148.684h-1.635l-.051-1.226-16.757,16.755H240v-1.635h3.729l16.3-16.3-1.226-.051V144.6h3.627a3.075,3.075,0,0,1,.46.46Z" transform="translate(-215.479 -129.823)"/>
                        <rect id="Rectangle_312" data-name="Rectangle 312" width="1.635" height="1.635" transform="translate(21.251 32.756)"/>
                        </g>
                    </svg>              
                    <span><b>+7% :</b> croissance
                        moyenne de l’économie
                        2015 – 2025
                    </span>
                </span>
            </div>
            <p><b>Abidjan, vibrante et cosmopolite</b>, est un carrefour immanquable pour les 
                grandes enseignes internationales. Son dynamisme, soutenu par une 
                <b>croissance économique exceptionnelle</b>, en fait une terre d’opportunités 
                sans équivalent en Afrique de l’Ouest.</p>
                
            <p><b>L’économie ivoirienne</b>, parmi les plus performantes d’Afrique 
                Subsaharienne, <b>attire les investisseurs étrangers et l’implantation 
                d’entreprises internationales</b>. Ses infrastructures modernes, sa stabilité politique et monétaire offrent <b>un cadre idéal pour le développement du retail et des nouvelles expériences commerciales</b>.</p>
                
            <p>Déjà prisée par des géants de la grande distribution et du FMCG* (tels 
                que Carrefour, Auchan, Mr. Bricolage ou encore la FNAC), Abidjan
                confirme ces dernières années sa <b>position de leader africain du 
                marché de la consommation</b> par l’installation croissante d’enseignes 
                internationales dans les domaines de la mode (Hugo Boss, Lacoste, Tommy 
                Hilfiger), de la restauration (Burger King, Em Sherif, Tsunami, Eric Kayser) et du loisir (Cinéma Pathé, Casino Barrière).</p>
        </div>
    </div>
    <div class="presentation__illust" style="background: url({{asset('assets/medias/bg/abidjan_big.webp')}}) top / cover no-repeat; width: 100%; height: 100%"></div>
</section>

<section id="presentation-s2" class="container grid-container">
    <div class="s2-map">
        <img alt="marcory map" src="{{ asset('assets/medias/bg/zone4.png') }}" height="400">
    </div>
    <div class="s2-text">
        <div class="">
            <span class="title__prm">
                <svg xmlns="http://www.w3.org/2000/svg" width="200" height="70" viewBox="0 0 341.569 98.103">
                    <g id="Groupe_1188" data-name="Groupe 1188" transform="translate(-1094.441 -2309)">
                    <path id="Tracé_2117" data-name="Tracé 2117" d="M201.548,60.7v36h20.8V90.251h-13.1v-8.7h13.1v-6.2h-13.1v-8.2h13.1V60.7Z" transform="translate(1167.213 2309.701)" fill="#040405"/>
                    <path id="Tracé_2118" data-name="Tracé 2118" d="M43.2,60.7v36H64V90.251H50.9v-8.7H64v-6.2H50.9v-8.2H64V60.7Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2119" data-name="Tracé 2119" d="M168.548,36.7V.7h20.8V7.15h-13.1v8.2h13.1v6.2h-13.1v8.7h13.1V36.7Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2120" data-name="Tracé 2120" d="M68.952,23.6c0,8.4-5.55,13.8-15.051,13.8-9.45,0-15.051-5.4-15.051-13.8V.7h7.7V22.852c0,4.7,2.65,7.5,7.35,7.5,4.751,0,7.351-2.8,7.351-7.5V.7h7.7Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2121" data-name="Tracé 2121" d="M116.4,9.551a21.6,21.6,0,0,0-9.95-2.5c-7.3,0-11.9,5.25-11.9,11.65,0,6.451,4.55,11.651,11.651,11.651a22.8,22.8,0,0,0,10.45-2.5V35a24.84,24.84,0,0,1-11,2.4,18.328,18.328,0,0,1-18.8-18.7C86.848,8.2,94.8,0,105.9,0a22.1,22.1,0,0,1,10.5,2.5Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2122" data-name="Tracé 2122" d="M140.6,0a18.458,18.458,0,0,1,18.851,18.7,18.852,18.852,0,0,1-37.7,0A18.459,18.459,0,0,1,140.6,0m0,30.352c6.5,0,11.1-5.2,11.1-11.651,0-6.4-4.6-11.651-11.1-11.651S129.5,12.3,129.5,18.7c0,6.451,4.6,11.651,11.1,11.651" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2123" data-name="Tracé 2123" d="M228,23.6c0,8.4-5.55,13.8-15.051,13.8C203.5,37.4,197.9,32,197.9,23.6V.7h7.7V22.852c0,4.7,2.649,7.5,7.35,7.5,4.751,0,7.351-2.8,7.351-7.5V.7H228Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2124" data-name="Tracé 2124" d="M249.947.7c8.351,0,13.9,4.15,13.9,11.85A10.533,10.533,0,0,1,257,22.8l7.55,13.9H256.4l-6.351-12.6h-5.2V36.7H237.3V.7Zm-5.1,6.45V17.9h5.5c3.4,0,5.75-1.7,5.75-5.351,0-3.6-2.449-5.4-5.95-5.4Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2125" data-name="Tracé 2125" d="M4.151,96.7v-36h11.5c12.251,0,20,7.45,20,18s-7.7,18-19.9,18Zm7.7-29.552v23.1h3.8c7.7,0,12.251-5,12.251-11.551,0-6.5-4.55-11.551-12.351-11.551Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2126" data-name="Tracé 2126" d="M100.2,67.15H84.349V60.7H111.9L94.5,90.252H111.35V96.7H82.8Z" transform="translate(1167.213 2309.701)" fill="#040405"/>
                    <path id="Tracé_2127" data-name="Tracé 2127" d="M135.45,60A18.7,18.7,0,1,1,116.6,78.7,18.458,18.458,0,0,1,135.45,60m0,30.351c6.5,0,11.1-5.2,11.1-11.65,0-6.4-4.6-11.651-11.1-11.651s-11.1,5.25-11.1,11.651c0,6.45,4.6,11.65,11.1,11.65" transform="translate(1167.213 2309.701)" fill="#040405"/>
                    <path id="Tracé_2128" data-name="Tracé 2128" d="M191.5,97.252,171.749,78.3l-2.351-2.05V96.7h-7.55V60.15h.3l19.7,18.951,2.3,2.05V60.7h7.6V97.252Z" transform="translate(1167.213 2309.701)" fill="#040405"/>
                    <path id="Tracé_2129" data-name="Tracé 2129" d="M257.647,96.7V88.9h-17.5l12.1-28.2h7.45l-9.25,21.852h7.35V74.2h6.5v8.351h4.5V88.9h-4.5v7.8Z" transform="translate(1167.213 2309.701)" fill="#040405"/>
                    <path id="Tracé_2130" data-name="Tracé 2130" d="M17.751.15h-.3L0,36.7H8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4L27.2,36.7h8.05Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <g id="Groupe_1135" data-name="Groupe 1135" transform="translate(960 -2702.832)">
                        <path id="Tracé_2195" data-name="Tracé 2195" d="M2.25,36.552V.55h7.7V30.1H23.8v6.45Z" transform="translate(215.252 5072.684)" fill="#040405"/>
                        <path id="Tracé_2202" data-name="Tracé 2202" d="M44.2,0h-.3L26.449,36.552H34.5L37.3,30.2l2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351H61.7Z" transform="translate(215.252 5072.684)" fill="#040405"/>
                    </g>
                    </g>
                </svg>
            </span>
            <div class="presentation__text-div">
                <p>Le Passage Lumière bénéficie d’un emplacement stratégique dans <b>l’un des quartiers les plus animés d’Abidjan</b>, à proximité des centres d’affaires et résidentiels de la ville.<br>
                    À l’intersection d’acteurs commerciaux déjà implantés. <b>Le dynamisme de cette zone favorise l’attractivité et l’affluence du Passage Lumière.</b><br>
                    Le Passage Lumière est un projet unique par son identité, véritable écrin de nature en <b>plein cœur d’un quartier historique</b> où se mêlent industries, commerces et résidentiels.</p>

                <ul class="custom-list">
                    <li>Une attractivité exceptionnelle</li>
                    <li>Un flux continu</li>
                    <li>Affluence constante</li>
                    <li>Centres commerciaux</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="presentation-s3" class="container grid-container">
    <div class="s3-text">
        <div class="">
            <span class="title__prm">
                <svg id="Groupe_990" data-name="Groupe 990" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="320" height="70" viewBox="0 0 461.143 100.253">
                    <defs>
                    <clipPath id="clip-path">
                        <rect id="Rectangle_368" data-name="Rectangle 368" width="461.143" height="100.253" transform="translate(0 0)" fill="none"/>
                    </clipPath>
                    </defs>
                    <path id="Tracé_2132" data-name="Tracé 2132" d="M29.9,39.553v-36H50.7V10H37.6v8.2H50.7v6.2H37.6v8.7H50.7v6.45Z" fill="#040405"/>
                    <path id="Tracé_2133" data-name="Tracé 2133" d="M257.045,63.551v36h20.8V93.1h-13.1V84.4h13.1V78.2h-13.1V70h13.1v-6.45Z" fill="#040405"/>
                    <path id="Tracé_2134" data-name="Tracé 2134" d="M356.495,63.551v36h20.8V93.1h-13.1V84.4h13.1V78.2h-13.1V70h13.1v-6.45Z" fill="#040405"/>
                    <path id="Tracé_2135" data-name="Tracé 2135" d="M295.895,39.553v-36h20.8V10h-13.1v8.2h13.1v6.2h-13.1v8.7h13.1v6.45Z" fill="#040405"/>
                    <path id="Tracé_2136" data-name="Tracé 2136" d="M0,3.551v36H21.551V33.1H7.7V3.551Z" fill="#040405"/>
                    <path id="Tracé_2137" data-name="Tracé 2137" d="M84.949,10V39.553h-7.7V10H67.2V3.551H95.05V10Z" fill="#040405"/>
                    <g id="Groupe_687" data-name="Groupe 687">
                    <g id="Groupe_686" data-name="Groupe 686" clip-path="url(#clip-path)">
                        <path id="Tracé_2138" data-name="Tracé 2138" d="M114.1,3.551c8.351,0,13.9,4.15,13.9,11.85a10.533,10.533,0,0,1-6.85,10.251l7.55,13.9h-8.15l-6.351-12.6H109v12.6h-7.55v-36ZM109,10V20.752h5.5c3.4,0,5.75-1.7,5.75-5.351,0-3.6-2.449-5.4-5.949-5.4Z" fill="#040405"/>
                        <rect id="Rectangle_367" data-name="Rectangle 367" width="7.7" height="36.002" transform="translate(136.098 3.551)" fill="#040405"/>
                        <path id="Tracé_2139" data-name="Tracé 2139" d="M220,40.1,200.247,21.152,197.9,19.1V39.553h-7.55V3h.3l19.7,18.951,2.3,2.05V3.551h7.6V40.1Z" fill="#040405"/>
                        <path id="Tracé_2140" data-name="Tracé 2140" d="M247.1,40.253c-11.4,0-19.351-8.15-19.351-18.7,0-10.5,8.05-18.7,19.2-18.7a26.661,26.661,0,0,1,11.3,2.45v7.1a24.824,24.824,0,0,0-10.8-2.5C240,9.9,235.5,15.151,235.5,21.552c0,6.5,4.5,11.7,11.6,11.7a17.549,17.549,0,0,0,4.9-.7v-9.6h7.351V37.5a28.361,28.361,0,0,1-12.251,2.75" fill="#040405"/>
                        <path id="Tracé_2141" data-name="Tracé 2141" d="M267.545,39.553v-36h7.7V33.1H289.1v6.45Z" fill="#040405"/>
                        <path id="Tracé_2142" data-name="Tracé 2142" d="M338.144,39.553v-36h11.5c12.251,0,20,7.45,20,18s-7.7,18-19.9,18ZM345.844,10V33.1h3.8c7.7,0,12.251-5,12.251-11.551,0-6.5-4.55-11.551-12.351-11.551Z" fill="#040405"/>
                        <path id="Tracé_2143" data-name="Tracé 2143" d="M379.593,14.6h-6.05l3.9-14.6h7.6Z" fill="#040405"/>
                        <path id="Tracé_2144" data-name="Tracé 2144" d="M407.493,2.85a18.458,18.458,0,0,1,18.851,18.7,18.852,18.852,0,0,1-37.7,0,18.459,18.459,0,0,1,18.851-18.7m0,30.352c6.5,0,11.1-5.2,11.1-11.65,0-6.4-4.6-11.651-11.1-11.651s-11.1,5.25-11.1,11.651c0,6.45,4.6,11.65,11.1,11.65" fill="#040405"/>
                        <path id="Tracé_2145" data-name="Tracé 2145" d="M446.541,3.551c8.351,0,13.9,4.15,13.9,11.85a10.533,10.533,0,0,1-6.85,10.251l7.55,13.9h-8.15l-6.351-12.6h-5.2v12.6h-7.55v-36Zm-5.1,6.45V20.752h5.5c3.4,0,5.75-1.7,5.75-5.351,0-3.6-2.449-5.4-5.95-5.4Z" fill="#040405"/>
                        <path id="Tracé_2146" data-name="Tracé 2146" d="M0,99.553v-36H11.5c12.251,0,20,7.45,20,18s-7.7,18-19.9,18ZM7.7,70V93.1h3.8c7.7,0,12.251-5,12.251-11.551C23.751,75.051,19.2,70,11.4,70Z" fill="#040405"/>
                        <path id="Tracé_2147" data-name="Tracé 2147" d="M68.651,86.452c0,8.4-5.55,13.8-15.051,13.8-9.45,0-15.051-5.4-15.051-13.8v-22.9h7.7V85.7c0,4.7,2.65,7.5,7.35,7.5,4.751,0,7.351-2.8,7.351-7.5V63.551h7.7Z" fill="#040405"/>
                        <path id="Tracé_2148" data-name="Tracé 2148" d="M116.1,72.4a21.6,21.6,0,0,0-9.95-2.5c-7.3,0-11.9,5.25-11.9,11.65C94.249,88,98.8,93.2,105.9,93.2a22.8,22.8,0,0,0,10.45-2.5v7.15a24.84,24.84,0,0,1-11,2.4,18.328,18.328,0,0,1-18.8-18.7c0-10.5,7.951-18.7,19.052-18.7a22.1,22.1,0,0,1,10.5,2.5Z" fill="#040405"/>
                        <path id="Tracé_2149" data-name="Tracé 2149" d="M140.3,62.85a18.7,18.7,0,1,1-18.851,18.7A18.458,18.458,0,0,1,140.3,62.85m0,30.352c6.5,0,11.1-5.2,11.1-11.65,0-6.4-4.6-11.651-11.1-11.651s-11.1,5.25-11.1,11.651c0,6.45,4.6,11.65,11.1,11.65" fill="#040405"/>
                        <path id="Tracé_2150" data-name="Tracé 2150" d="M175.947,80.951l-1.9-1.649V99.553H166.7V63h.149L184,80.3,201.149,63h.15V99.553h-7.351V79.3l-1.9,1.649c-2.65,2.9-5.351,5.8-8.051,8.651-2.7-2.85-5.35-5.751-8.05-8.651" fill="#040405"/>
                        <path id="Tracé_2151" data-name="Tracé 2151" d="M220.347,80.951l-1.9-1.649V99.553H211.1V63h.149L228.4,80.3,245.549,63h.15V99.553h-7.351V79.3l-1.9,1.649c-2.65,2.9-5.351,5.8-8.051,8.651-2.7-2.85-5.35-5.751-8.05-8.651" fill="#040405"/>
                        <path id="Tracé_2152" data-name="Tracé 2152" d="M299.545,63.551c8.351,0,13.9,4.15,13.9,11.85a10.533,10.533,0,0,1-6.85,10.251l7.55,13.9H306l-6.351-12.6h-5.2v12.6h-7.55v-36Zm-5.1,6.45V80.752h5.5c3.4,0,5.75-1.7,5.75-5.351,0-3.6-2.449-5.4-5.95-5.4Z" fill="#040405"/>
                        <path id="Tracé_2153" data-name="Tracé 2153" d="M348.846,72.4a21.6,21.6,0,0,0-9.95-2.5c-7.3,0-11.9,5.25-11.9,11.65,0,6.451,4.55,11.651,11.651,11.651a22.8,22.8,0,0,0,10.45-2.5v7.15a24.84,24.84,0,0,1-11,2.4,18.328,18.328,0,0,1-18.8-18.7c0-10.5,7.951-18.7,19.052-18.7a22.1,22.1,0,0,1,10.5,2.5Z" fill="#040405"/>
                        <path id="Tracé_2154" data-name="Tracé 2154" d="M167.2,3h-.3L149.447,39.553h8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351h8.05Z" fill="#040405"/>
                    </g>
                    </g>
                </svg>
            </span>
            <div class="presentation__text-div">
                <table border="0">
                    <tr>
                        <td rowspan="2" style="padding-right: 30px;">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 50.758 51.79">
                                <defs>
                                <clipPath id="clip-path">
                                    <rect id="Rectangle_240" data-name="Rectangle 240" width="50.758" height="51.79" fill="none"/>
                                </clipPath>
                                </defs>
                                <g id="Groupe_991" data-name="Groupe 991" transform="translate(0 0)">
                                <g id="Groupe_328" data-name="Groupe 328" transform="translate(0 0)" clip-path="url(#clip-path)">
                                    <path id="Tracé_1737" data-name="Tracé 1737" d="M7.879,10.686a6.2,6.2,0,0,0-4.78,3.1C.926,17.8,3.775,22.029,6.286,25.066a18.8,18.8,0,0,0,2.161,2.268c3-3.119,7.156-7.724,5.779-12.423A6.151,6.151,0,0,0,7.893,10.7Zm26.588-8.4a6.217,6.217,0,0,0-5.7,4.227c-1.5,4.685,2.9,9.357,5.765,12.53,3.12-3.24,7.845-8.548,5.5-13.382a6.236,6.236,0,0,0-5.563-3.375M35.7.032a8.764,8.764,0,0,1,6.251,4.321c2.877,5.442-.9,11.018-4.483,14.989a16.043,16.043,0,0,1-1.945,2c-1.417.959-2.416-.445-3.321-1.4-3.4-3.592-7.143-8.708-5.712-13.947A20.931,20.931,0,0,0,13.24,9.822a9.214,9.214,0,0,1,2.268,2.43c3.025,4.928.244,10.045-2.969,13.988-.609.743-2.756,3.3-3.47,3.606a1.615,1.615,0,0,1-1.89-.364C4.288,26.889.29,21.448.021,17.464A8.543,8.543,0,0,1,8.352,8.323c.567,0,2.444.472,2.7.391.121-.04,1.067-.85,1.309-1.012A22.733,22.733,0,0,1,25.838,3.678a9.9,9.9,0,0,0,1.688.107A8.7,8.7,0,0,1,31.51.572,12.186,12.186,0,0,1,33.36.046a14.647,14.647,0,0,1,2.322,0H35.7Z" transform="translate(0 0.001)" fill="#48a23e"/>
                                    <path id="Tracé_1738" data-name="Tracé 1738" d="M26.362,44.937c.135.095.595-.433.7-.554,3.228-3.362,7.831-9.4,4.132-13.947a6.142,6.142,0,0,0-10.329,1.5c-1.918,4.727,2.362,9.574,5.373,12.761a.423.423,0,0,1,.095.257h.027ZM2.948,25.966a1.207,1.207,0,0,1,1.688.04c.514,1.228.838,2.511,1.39,3.727A19.932,19.932,0,0,0,18.5,40.508a9.794,9.794,0,0,0,1.538.378c.163,0,.176.014.149-.148-3.349-4.686-2.795-11.707,2.971-14.125,7.548-3.159,14.313,4.78,10.788,11.9-.027.067.081.067.149.054a19.5,19.5,0,0,0,2.983-2.175,19.84,19.84,0,0,0,5.105-22.685c-.338-.85-1.4-2.16-.244-2.876,1.485-.931,2.432,2.052,2.8,3.052a22.166,22.166,0,0,1-10.181,27.06c-.69.378-2.134.85-2.634,1.215a30.25,30.25,0,0,0-1.971,2.472c-.54.62-2.39,2.767-3.052,2.9-1.174.243-1.783-.634-2.511-1.39a33.2,33.2,0,0,0-2.282-2.58,12.65,12.65,0,0,0-1.917-.31c-8.021-1.621-15.244-7.386-17.351-15.5-.162-.607-.419-1.269.107-1.809Z" transform="translate(1.043 4.218)" fill="#48a23e"/>
                                    <path id="Tracé_1739" data-name="Tracé 1739" d="M32.122,2.685a30.5,30.5,0,0,1,5.2,0,1.167,1.167,0,0,1,.324,2.295H31.7a1.182,1.182,0,0,1,.4-2.295Z" transform="translate(12.243 1.02)" fill="#48a23e"/>
                                    <path id="Tracé_1740" data-name="Tracé 1740" d="M13.75,12.6a36.1,36.1,0,0,1,5.523-.014,1.167,1.167,0,0,1,0,2.309,36.1,36.1,0,0,1-5.549,0,1.158,1.158,0,0,1,.013-2.295Z" transform="translate(5.04 4.945)" fill="#48a23e"/>
                                    <path id="Tracé_1741" data-name="Tracé 1741" d="M13.089,15.913a11.289,11.289,0,0,1,3.254.121,1.145,1.145,0,0,1-.364,2.161,16.731,16.731,0,0,1-3.078-.04,1.159,1.159,0,0,1,.174-2.256Z" transform="translate(4.783 6.278)" fill="#48a23e"/>
                                    <path id="Tracé_1742" data-name="Tracé 1742" d="M32.644,6.065a21.3,21.3,0,0,1,3.47.027,1.162,1.162,0,0,1-.271,2.175,20.472,20.472,0,0,1-3.281-.04,1.172,1.172,0,0,1,.081-2.161" transform="translate(12.625 2.379)" fill="#48a23e"/>
                                    <path id="Tracé_1743" data-name="Tracé 1743" d="M25.882,4.977c-3.145.269-2.795,5.009.271,4.928,3.268-.081,3.038-5.225-.271-4.928m.095-2.323c6.306-.107,6.413,9.479.162,9.533s-6.32-9.426-.162-9.533" transform="translate(8.476 1.051)" fill="#48a23e"/>
                                    <path id="Tracé_1744" data-name="Tracé 1744" d="M6.925,10.992A2.462,2.462,0,1,0,7.991,15.8c2.742-.459,2.282-5.334-1.067-4.806m0-2.323c6.279-.607,6.981,8.938.972,9.465-6.427.581-7.182-8.87-.972-9.465" transform="translate(1.049 3.422)" fill="#48a23e"/>
                                    <path id="Tracé_1745" data-name="Tracé 1745" d="M20.492,26.639c-2.511.419-2.525,4.321.121,4.78,3.713.648,3.889-5.469-.121-4.78m-.2-2.323c6.751-.864,7.372,9.155.986,9.479-5.982.3-6.724-8.736-.986-9.479" transform="translate(6.48 9.608)" fill="#48a23e"/>
                                </g>
                                </g>
                            </svg>
                        </td>
                        <td colspan="2"><h4>Accès Direct</h4></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-bottom: 30px;">Depuis la rue Louis Lumière</td>
                    </tr>
                    <tr>
                        <td rowspan="5" style="padding-right: 30px;">
                            <svg id="Groupe_992" data-name="Groupe 992" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 52.005 51.79">
                                <defs>
                                    <clipPath id="clip-path">
                                    <rect id="Rectangle_241" data-name="Rectangle 241" width="52.005" height="51.79" fill="none"/>
                                    </clipPath>
                                </defs>
                                <g id="Groupe_330" data-name="Groupe 330" transform="translate(0 0)" clip-path="url(#clip-path)">
                                    <path id="Tracé_1746" data-name="Tracé 1746" d="M27.872,50.136V40.245c0-1.478-1.328-4.011-2.276-5.122-4.269-4.987-10.1-2.833-15.733-3.348-.311-.027-.582-.067-.745-.365-.367-.65.067-3.062-.163-4a1,1,0,0,0-1.017-.7c-.352.041-.867.65-1.124.909C5.352,29.133,3.59,31.07,2.248,32.684c-.6.732-.907,1.03-.244,1.87,1.572,2.045,3.781,3.915,5.38,5.975a.981.981,0,0,0,1.572-.338c.284-.949-.123-2.914.054-4.011a.928.928,0,0,1,.474-.65L19,35.5c2.52.148,5.218,2.913,5.218,5.433v9.174h3.644v.027ZM52,24.58a5.712,5.712,0,0,1-.719,1.165,25.287,25.287,0,0,1-2.018,2.235.825.825,0,0,1-1.395-.528c-.041-.854,2.466-2.533,2.56-3.482a1.341,1.341,0,0,0-.407-.921c-1.6-2.02-3.686-3.835-5.285-5.868a.986.986,0,0,0-1.626.285c-.257.853.231,3.644-.2,4.159a1.484,1.484,0,0,1-.448.258c-3.157.284-6.571-.2-9.688.054a9.844,9.844,0,0,0-7.886,5.907c-.325.8-1,3.279-.638,4.025.1.2,1.776,1.232,2.02,1.639l1.585,2.02V31.112a8.5,8.5,0,0,1,.692-2.358c2.466-4.824,9.227-2.71,13.563-3.185.434.027.881.2.949.665.177,1.111-.121,2.6,0,3.74a.98.98,0,0,0,.867.961c1.125.081,2.182-3.021,3.293-1.883.542.555-.054,1.192-.407,1.626-.949,1.138-1.749,2.033-3.375,1.747a2.658,2.658,0,0,1-2.005-2.262v-3h-8.17c-1.707,0-3.767,2.2-3.794,3.917l-.041,20.04c-.136.461-.6.556-1.03.583a35.019,35.019,0,0,1-4.77,0c-.528-.041-.988-.163-1.07-.759-.19-3.2.257-6.681,0-9.852a4.459,4.459,0,0,0-4.106-4.105H10.595v3.089a2.965,2.965,0,0,1-1.314,1.937,2.58,2.58,0,0,1-3.306-.663c-1.843-1.83-3.469-4.092-5.326-5.935a2.6,2.6,0,0,1,.108-3.55c1.626-2.074,3.794-3.944,5.42-6.043,1.382-1.5,4.417-.5,4.417,1.572v2.683c4,.175,8.13-.542,11.966.813V18.781c0-.434.894-.759,1.314-.407a3.667,3.667,0,0,1,.312.5v6.638A13.967,13.967,0,0,1,27.818,21.9V9.946c.027-.461.175-.88.678-.949.949-.148,3.59.271,4.213-.257.759-.65.081-1.355-.407-1.83-1.816-1.762-3.915-3.36-5.731-5.122a.9.9,0,0,0-1.111,0c-1.816,1.762-3.917,3.36-5.733,5.122-.5.488-1.165,1.192-.407,1.83.623.528,3.252.108,4.215.257.528.081.623.488.663.949.177,1.911-.121,4.119-.027,6.071a.83.83,0,0,1-1.328.583,3.073,3.073,0,0,1-.284-.352V10.624H19.878a2.723,2.723,0,0,1-2.466-2.1C17.18,7.06,17.966,6.41,18.9,5.5c1.53-1.476,3.5-3.279,5.122-4.607C25.488-.3,26.517-.3,27.967.894c1.613,1.315,3.523,3.062,5.028,4.513.88.853,1.72,1.491,1.626,2.846a2.7,2.7,0,0,1-2.493,2.385H29.444V21.084a15.39,15.39,0,0,1,3.4-.813c2.764-.2,5.772.15,8.564,0V17.48a3.039,3.039,0,0,1,1.247-1.9,2.6,2.6,0,0,1,3.375.623c1.476,1.463,3.2,3.469,4.566,5.068A7.35,7.35,0,0,1,51.964,23.2v1.314Z" transform="translate(0 0)" fill="#48a23e"/>
                                </g>
                            </svg>
                        </td>
                        <td colspan="2"><h4>Proximité centres commerciaux</h4></td>
                    </tr>
                    <tr>
                        <td>Prima Center</td>
                        <td>100 m</td>
                    </tr>
                    <tr>
                        <td>Cap Sud</td>
                        <td>200 m</td>
                    </tr>
                    <tr>
                        <td>Square Center</td>
                        <td>500 m</td>
                    </tr>
                    <tr>
                        <td>Playce Marcory</td>
                        <td style="padding-bottom: 30px;">1,2 km</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="padding-right: 30px;">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 51.757 51.79">
                                <defs>
                                <clipPath id="clip-path">
                                    <rect id="Rectangle_242" data-name="Rectangle 242" width="51.757" height="51.789" fill="none"/>
                                </clipPath>
                                </defs>
                                <g id="Groupe_993" data-name="Groupe 993" transform="translate(0 0)">
                                <g id="Groupe_332" data-name="Groupe 332" transform="translate(0 0)" clip-path="url(#clip-path)">
                                    <path id="Tracé_1747" data-name="Tracé 1747" d="M43.65,5.037a4.309,4.309,0,0,0-1.132-1.423C38.932.537,32.632,1.988,28.67,3.556,23.329,5.675,18.552,9.289,14.3,13.093a1.07,1.07,0,0,1-1.116-.131l-.813-1.625-1.191,6.851,6.952-1.742c.03-.291,0-.175-.159-.218-2.424-.726-2.946-.973-.87-2.932C22.2,8.462,32.545,1.045,39.92,2.86a7.879,7.879,0,0,1,3.73,2.192ZM18.552,14.6a1.464,1.464,0,0,1,.436.044,23.237,23.237,0,0,1,3.15,1.088.926.926,0,0,1-.117,1.51L9.944,20.293a.918.918,0,0,1-.842-.958c.769-3.556,1.1-7.3,1.873-10.843.145-.682.422-1.6,1.35-1.2.712.3,1.336,2.8,1.814,3.5,4.675-4.036,10.09-7.838,16.055-9.7C41.908-2.57,49.617,3.179,45.407,15.547a27.77,27.77,0,0,1-2.323,5.167.947.947,0,0,1-1.713-.523c.014-.464,1-2.642,1.219-3.352C43.84,12.774,44.913,5.966,39.455,4.6c-6.284-1.582-16.388,5.443-20.743,9.668-.1.1-.2.144-.159.319Z" transform="translate(3.86 0)" fill="#48a23e"/>
                                    <path id="Tracé_1748" data-name="Tracé 1748" d="M31.325,12.374l-6.851-1.146,1.742,6.9c.291.028.174,0,.218-.161.261-.856.436-2.555,1.713-2.046a7.5,7.5,0,0,1,1.116,1.06,53.844,53.844,0,0,1,7.521,10.09c2.555,4.543,5.6,12.425.812,16.5-.1.087-.347.218-.014.2,4.863-3.265,3.368-10.393,1.554-15.024-2.135-5.458-5.777-10.161-9.6-14.53a1.117,1.117,0,0,1,.16-1.045l1.626-.813Zm.537,1.727c3.992,4.732,7.781,10.045,9.668,16.025C44.97,41.044,40.267,49.36,28.074,45.746a28.351,28.351,0,0,1-6.082-2.612.946.946,0,0,1,.45-1.757c.464.014,2.642,1,3.352,1.219,9.783,2.991,15.256-.827,11.1-11.1-1.945-4.821-5.3-9.059-8.7-12.935-.246-.043-.13.117-.174.262A22.171,22.171,0,0,1,26.9,22.143a.928.928,0,0,1-1.467-.044L22.339,10.037a.921.921,0,0,1,.958-.914l11.482,2c2.206,1.568-1.887,2.439-2.932,2.991h.014Z" transform="translate(9.13 3.869)" fill="#48a23e"/>
                                    <path id="Tracé_1749" data-name="Tracé 1749" d="M5.023,3.881C4.877,3.75,3.745,4.854,3.6,5.013.523,8.6,1.974,14.9,3.542,18.876c2.119,5.342,5.733,10.117,9.537,14.37a1.072,1.072,0,0,1-.131,1.118l-1.625.813,6.851,1.189-1.742-6.952c-.291-.03-.175,0-.218.159-.262.856-.436,2.555-1.713,2.046a6.871,6.871,0,0,1-1.118-1.06A53.765,53.765,0,0,1,5.864,20.473C3.179,15.668.392,8.381,5.023,3.881m9.566,25.1a1.464,1.464,0,0,1,.044-.436,23.237,23.237,0,0,1,1.088-3.15.926.926,0,0,1,1.51.117l3.049,12.078a.917.917,0,0,1-.958.842c-3.556-.769-7.3-1.1-10.843-1.873-.682-.145-1.6-.422-1.2-1.35.3-.712,2.8-1.336,3.5-1.814C6.75,28.7,2.946,23.288,1.088,17.323-2.569,5.608,3.179-2.1,15.547,2.109a27.826,27.826,0,0,1,5.168,2.323.944.944,0,0,1-.523,1.713,32.74,32.74,0,0,0-6.663-2.032C7.606,3.169,3.57,5.274,4.514,11.822c.8,5.5,5.908,13.02,9.755,16.984.1.1.145.2.319.159Z" transform="translate(0 0.402)" fill="#48a23e"/>
                                    <path id="Tracé_1750" data-name="Tracé 1750" d="M36.354,24.485,29.4,26.227c-.03.291,0,.175.159.218.856.262,2.555.436,2.046,1.713a7.5,7.5,0,0,1-1.06,1.118A53.765,53.765,0,0,1,20.46,36.795c-4.746,2.672-12.106,5.5-16.534.857-.073-.016-.073.115-.058.159A7.662,7.662,0,0,0,5.9,39.7c4.645,2.773,12.048.131,16.447-2.207a55.508,55.508,0,0,0,10.887-7.911,1.1,1.1,0,0,1,1.118.131l.813,1.625L36.354,24.5Zm-7.388,3.586a1.124,1.124,0,0,1-.436-.058,23.434,23.434,0,0,1-3.15-1.088.926.926,0,0,1,.117-1.51l12.078-3.049a.915.915,0,0,1,.842.958c-.769,3.556-1.1,7.3-1.873,10.843-.145.682-.422,1.6-1.35,1.2-.712-.3-1.336-2.8-1.814-3.5-4.6,3.962-9.9,7.693-15.72,9.594C5.842,45.3-2.214,39.684,2.141,27.04a28,28,0,0,1,2.293-5.1.944.944,0,0,1,1.713.523,32.74,32.74,0,0,0-2.032,6.663C3.549,32.731,3.9,37,8.063,38.058c6.27,1.582,16.4-5.444,20.743-9.668.1-.1.2-.145.159-.319" transform="translate(0.4 9.134)" fill="#48a23e"/>
                                    <path id="Tracé_1751" data-name="Tracé 1751" d="M19.37,15.965c-5.007.682-4.282,8.362.843,8.013,5.457-.377,4.615-8.754-.843-8.013m4.776-.1c5.37,5.545-3.077,13.674-8.4,8.187-5.386-5.574,3.092-13.674,8.4-8.187" transform="translate(5.944 5.954)" fill="#48a23e"/>
                                </g>
                                </g>
                            </svg>                      
                        </td>
                        <td colspan="2"><h4>Zone de chalandise étendue</h4></td>
                    </tr>
                    <tr>
                        <td colspan="2">Large fréquentation depuis toutes les communes d’Abidjan</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="s3-map">
        <img alt="marcory map" src="{{ asset('assets/medias/bg/marcory.png') }}" height="320">
    </div>
</section>
{% endblock %}
