{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block stylesheets %}
<style>
    
</style>
{% endblock %}

{% block body %}
<section id="carrousel" class="carrousel">
    <div class="carrousel__div" style="background: url({{asset('assets/medias/bg/homeCover.png')}}) top / cover no-repeat;">
        <div class="container grid-container" style="padding: 0;">
            <div class="carrousel__title">
                <h1><span class="fw-100">Des </span>commerces <br><span class="fw-100">en plein coeur de Zone 4</span></h1>
                <p>Livraison : 2<sup>e</sup> semestre 2025</p>
            </div>
            <div class="carrousel__form-div d-flex-end">
                <div>
                    <div class="d-flex-end mb-2">
                        <span>Développé par</span>
                        <img src="{{ asset('assets/medias/logos/logoPFO_white.png') }}" alt="PFO" height="45">
                    </div>
                    <form action="" method="post" class="carrousel__form">
                        <span class="carrousel__form-title _font-brother-1816">Nous vous répondons</span>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Raison sociale</label>
                        </div>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Nom & Prénom</label>
                        </div>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Email</label>
                        </div>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Télephone</label>
                        </div>
                        <div class="input-container">
                            <textarea rows="3" required=""/></textarea>
                            <label>Quelle activité souhaitez-vous installer ?</label>
                        </div>
                        <div class="d-flex-center my-1">
                            <button class="btn__prm">Envoyer</button>
                        </div>
                        <span class="carrousel__form-desc">Un e-mail incluant les tarifications de location
                            demandées vous sera transmis dans les
                            meilleurs délais.</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="presentation-s1" class="s1-container" style="background-color: #F0F0F0;">
    <div class="presentation__text">
        <span class="title__prm">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="360" height="118" viewBox="0 0 486.043 157.252">
                <defs>
                <clipPath id="clip-path">
                    <rect id="Rectangle_365" data-name="Rectangle 365" width="486.043" height="157.252" fill="none"/>
                </clipPath>
                </defs>
                <g id="Groupe_676" data-name="Groupe 676" clip-path="url(#clip-path)">
                <path id="Tracé_2090" data-name="Tracé 2090" d="M67.3,26.05c0,6.9-5.6,10.5-13.7,10.5H40.9v-36H52.549c7.652,0,13.4,3.35,13.4,10.1a7.514,7.514,0,0,1-4.6,7,8.882,8.882,0,0,1,5.949,8.4M52.851,15.55a10.759,10.759,0,0,0,2.9-.3,3.93,3.93,0,0,0,2.4-3.951c0-3-2.05-4.6-5.1-4.6h-4.8v8.85ZM48.25,30.4h5.7c3.049,0,5.45-1.7,5.45-4.851s-2.2-4.8-4.95-4.8h-6.2Z" fill="#040405"/>
                <rect id="Rectangle_362" data-name="Rectangle 362" width="7.7" height="36.002" transform="translate(75.049 0.55)" fill="#040405"/>
                <path id="Tracé_2091" data-name="Tracé 2091" d="M92.549,36.552V.55h11.5c12.25,0,20,7.45,20,18s-7.7,18-19.9,18ZM100.248,7V30.1h3.8c7.7,0,12.25-5,12.25-11.551C116.3,12.05,111.749,7,103.948,7Z" fill="#040405"/>
                <path id="Tracé_2092" data-name="Tracé 2092" d="M144.048,26.3c0,7.7-3.75,10.951-10.551,10.951a12.162,12.162,0,0,1-5-.95V29.8a8.452,8.452,0,0,0,3.75.9c2.65,0,4.1-1.349,4.1-4.049V.55h7.7Z" fill="#040405"/>
                <path id="Tracé_2093" data-name="Tracé 2093" d="M220.3,37.1,200.547,18.151,198.2,16.1V36.552h-7.55V0h.3l19.7,18.951,2.3,2.05V.55h7.6V37.1Z" fill="#040405"/>
                <path id="Tracé_2094" data-name="Tracé 2094" d="M31.452,69.4A21.6,21.6,0,0,0,21.5,66.9c-7.3,0-11.9,5.25-11.9,11.65A11.238,11.238,0,0,0,21.251,90.2,22.805,22.805,0,0,0,31.7,87.7v7.15a24.849,24.849,0,0,1-11,2.4A18.327,18.327,0,0,1,1.9,78.55c0-10.5,7.95-18.7,19.051-18.7a22.1,22.1,0,0,1,10.5,2.5Z" fill="#040405"/>
                <path id="Tracé_2095" data-name="Tracé 2095" d="M83.549,84.251v12.3h-7.7v-36h11.7c8.3,0,13.851,4.1,13.851,11.85S95.85,84.251,87.549,84.251Zm0-17.251V77.751h4.4C91.3,77.751,93.6,76,93.6,72.4S91.2,67,87.749,67Z" fill="#040405"/>
                <rect id="Rectangle_363" data-name="Rectangle 363" width="7.7" height="36.002" transform="translate(108.248 60.55)" fill="#040405"/>
                <path id="Tracé_2096" data-name="Tracé 2096" d="M140.1,67V96.552h-7.7V67H122.347V60.55H150.2V67Z" fill="#040405"/>
                <path id="Tracé_2097" data-name="Tracé 2097" d="M190.747,96.552v-36h7.7V90.1H212.3v6.45Z" fill="#040405"/>
                <path id="Tracé_2098" data-name="Tracé 2098" d="M219.1,96.552v-36h20.8V67H226.8v8.2h13.1v6.2H226.8v8.7h13.1v6.45Z" fill="#040405"/>
                <path id="Tracé_2099" data-name="Tracé 2099" d="M465.242,156.552v-36h20.8V127h-13.1v8.2h13.1v6.2h-13.1v8.7h13.1v6.45Z" fill="#040405"/>
                <rect id="Rectangle_364" data-name="Rectangle 364" width="7.7" height="36.002" transform="translate(4.15 120.55)" fill="#040405"/>
                <path id="Tracé_2100" data-name="Tracé 2100" d="M51.3,157.1,31.551,138.151,29.2,136.1v20.451H21.65V120h.3l19.7,18.951,2.3,2.05V120.55h7.6V157.1Z" fill="#040405"/>
                <path id="Tracé_2101" data-name="Tracé 2101" d="M88.651,129.4a21.6,21.6,0,0,0-9.951-2.5c-7.3,0-11.9,5.25-11.9,11.65A11.238,11.238,0,0,0,78.45,150.2,22.805,22.805,0,0,0,88.9,147.7v7.15a24.849,24.849,0,0,1-11,2.4,18.327,18.327,0,0,1-18.8-18.7c0-10.5,7.95-18.7,19.051-18.7a22.1,22.1,0,0,1,10.5,2.5Z" fill="#040405"/>
                <path id="Tracé_2102" data-name="Tracé 2102" d="M112.85,119.849A18.7,18.7,0,1,1,94,138.551a18.458,18.458,0,0,1,18.851-18.7m0,30.352c6.5,0,11.1-5.2,11.1-11.65,0-6.4-4.6-11.651-11.1-11.651s-11.1,5.25-11.1,11.651c0,6.45,4.6,11.65,11.1,11.65" fill="#040405"/>
                <path id="Tracé_2103" data-name="Tracé 2103" d="M168.9,157.1l-19.751-18.951L146.8,136.1v20.451h-7.55V120h.3l19.7,18.951,2.3,2.05V120.55h7.6V157.1Z" fill="#040405"/>
                <path id="Tracé_2104" data-name="Tracé 2104" d="M193.3,127v29.552h-7.7V127H175.547v-6.45H203.4V127Z" fill="#040405"/>
                <path id="Tracé_2105" data-name="Tracé 2105" d="M226.348,119.849a18.7,18.7,0,1,1-18.851,18.7,18.458,18.458,0,0,1,18.851-18.7m0,30.352c6.5,0,11.1-5.2,11.1-11.65,0-6.4-4.6-11.651-11.1-11.651s-11.1,5.25-11.1,11.651c0,6.45,4.6,11.65,11.1,11.65" fill="#040405"/>
                <path id="Tracé_2106" data-name="Tracé 2106" d="M282.347,143.451c0,8.4-5.55,13.8-15.051,13.8-9.45,0-15.051-5.4-15.051-13.8v-22.9h7.7V142.7c0,4.7,2.65,7.5,7.35,7.5,4.751,0,7.351-2.8,7.351-7.5V120.55h7.7Z" fill="#040405"/>
                <path id="Tracé_2107" data-name="Tracé 2107" d="M304.3,120.55c8.351,0,13.9,4.15,13.9,11.85a10.533,10.533,0,0,1-6.85,10.251l7.55,13.9h-8.15l-6.351-12.6h-5.2v12.6h-7.55v-36ZM299.2,127v10.751h5.5c3.4,0,5.75-1.7,5.75-5.351,0-3.6-2.449-5.4-5.95-5.4Z" fill="#040405"/>
                <path id="Tracé_2108" data-name="Tracé 2108" d="M355.947,157.1,336.2,138.151l-2.351-2.05v20.451h-7.55V120h.3l19.7,18.951,2.3,2.05V120.55h7.6V157.1Z" fill="#040405"/>
                <path id="Tracé_2109" data-name="Tracé 2109" d="M429.145,146.05c0,6.9-5.6,10.5-13.7,10.5h-12.7v-36h11.65c7.651,0,13.4,3.35,13.4,10.1a7.514,7.514,0,0,1-4.6,7,8.882,8.882,0,0,1,5.95,8.4m-14.45-10.5a10.759,10.759,0,0,0,2.9-.3,3.93,3.93,0,0,0,2.4-3.951c0-3-2.05-4.6-5.1-4.6h-4.8v8.85Zm-4.6,14.851h5.7c3.05,0,5.45-1.7,5.45-4.851s-2.2-4.8-4.95-4.8h-6.2Z" fill="#040405"/>
                <path id="Tracé_2110" data-name="Tracé 2110" d="M436.893,156.552v-36h7.7V150.1h13.851v6.45Z" fill="#040405"/>
                <path id="Tracé_2111" data-name="Tracé 2111" d="M17.751,0h-.3L0,36.552H8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351h8.05Z" fill="#040405"/>
                <path id="Tracé_2112" data-name="Tracé 2112" d="M52.7,60h-.3L34.95,96.552H43L45.8,90.2l2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351H70.2Z" fill="#040405"/>
                <path id="Tracé_2113" data-name="Tracé 2113" d="M167.6,60h-.3L149.848,96.552h8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351h8.05Z" fill="#040405"/>
                <path id="Tracé_2114" data-name="Tracé 2114" d="M379.6,120h-.3l-17.451,36.552h8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351h8.05Z" fill="#040405"/>
                <path id="Tracé_2115" data-name="Tracé 2115" d="M167.5,0h-.3L149.747,36.552h8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351H185Z" fill="#040405"/>
                </g>
            </svg>
        </span>
        <div class="presentation__text-div">
            <div class="d-flex gap-2 mb-2">
                <span class="icones d-flex gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 49.175 49.104">
                        <defs>
                            <clipPath id="clip-path">
                            <rect id="Rectangle_314" data-name="Rectangle 314" width="49.175" height="49.104" fill="none"/>
                            </clipPath>
                        </defs>
                        <g id="Groupe_506" data-name="Groupe 506" clip-path="url(#clip-path)">
                            <path id="Tracé_1852" data-name="Tracé 1852" d="M349.922,158.7v28.866A3.121,3.121,0,0,1,348,189.487H337.55a2.72,2.72,0,0,1-1.773-1.535,12.979,12.979,0,0,1-.08-4.97c.066-.222.313-.435.313-.639s-.266-.5-.331-.718a15.18,15.18,0,0,1,0-4.7c.067-.225.328-.508.328-.72,0-.174-.242-.509-.307-.74a13.964,13.964,0,0,1,0-4.758c.066-.222.313-.435.313-.639s-.266-.5-.331-.718a15.18,15.18,0,0,1,0-4.7c.067-.225.328-.507.328-.72s-.265-.5-.33-.718a14.645,14.645,0,0,1,.03-4.769,2.691,2.691,0,0,1,2.286-1.742c3.031.174,6.4-.273,9.39-.015a2.737,2.737,0,0,1,2.538,2.017m-2.228.215c-.106-.106-.352-.11-.5-.123l-9.168.046c-.278.1-.347.306-.38.579a12.263,12.263,0,0,0,.188,3.364l9.72.023a.357.357,0,0,0,.212-.172,25.93,25.93,0,0,0,.051-3.217c-.012-.149-.017-.395-.123-.5m-9.594,6.04a.493.493,0,0,0-.3.175,13.461,13.461,0,0,0-.142,3.3.662.662,0,0,0,.349.514l9.62-.029a.365.365,0,0,0,.172-.212,29.37,29.37,0,0,0,.017-3.335c-.041-.215-.186-.308-.377-.39Zm0,6.138a.493.493,0,0,0-.3.175,13.461,13.461,0,0,0-.142,3.3.662.662,0,0,0,.349.515l9.62-.029a.365.365,0,0,0,.172-.212,29.372,29.372,0,0,0,.017-3.335c-.041-.215-.186-.308-.377-.39Zm0,6.138a.493.493,0,0,0-.3.175,13.461,13.461,0,0,0-.142,3.3.662.662,0,0,0,.349.514l9.62-.029a.365.365,0,0,0,.172-.212,29.372,29.372,0,0,0,.017-3.335c-.041-.214-.186-.308-.377-.39Zm9.594,6.235c-.106-.106-.352-.11-.5-.123l-9.168.046c-.278.1-.347.306-.38.579a12.263,12.263,0,0,0,.188,3.364l9.72.023a.357.357,0,0,0,.212-.172,25.93,25.93,0,0,0,.051-3.217c-.012-.149-.017-.395-.123-.5" transform="translate(-300.746 -140.383)"/>
                            <path id="Tracé_1853" data-name="Tracé 1853" d="M180.281,242.743H169.732a2.822,2.822,0,0,1-1.919-2.253,17.41,17.41,0,0,1,.173-4.336c.065-.185.306-.413.306-.556s-.265-.421-.335-.624a16.327,16.327,0,0,1,0-4.888c.063-.2.3-.5.316-.643.01-.125-.192-.316-.25-.484a13.824,13.824,0,0,1-.04-5.081c.065-.184.306-.413.306-.556s-.265-.421-.335-.624a16.4,16.4,0,0,1,0-4.888,2.743,2.743,0,0,1,2.311-1.717c3,.137,6.224-.223,9.2-.016a2.751,2.751,0,0,1,2.606,1.805,14.712,14.712,0,0,1-.088,4.94c-.056.169-.262.352-.251.482.012.146.253.446.316.643a14.307,14.307,0,0,1-.064,5.012c-.056.169-.262.352-.251.482.013.155.259.441.318.641a14.248,14.248,0,0,1-.068,5.013c-.058.168-.26.358-.25.484.013.155.259.441.318.641a18.376,18.376,0,0,1,.145,4.267,2.822,2.822,0,0,1-1.919,2.253m-9.905-24.53c-.29.094-.416.2-.457.5a21.689,21.689,0,0,0,.075,3.291.323.323,0,0,0,.185.2l9.719-.031a.5.5,0,0,0,.148-.236,21.128,21.128,0,0,0,.037-3.212.562.562,0,0,0-.372-.491Zm0,6.138c-.323.081-.417.29-.454.6a19.8,19.8,0,0,0,.072,3.192.323.323,0,0,0,.185.2l9.719-.031a.5.5,0,0,0,.148-.236,24.258,24.258,0,0,0,.041-3.311c-.041-.215-.186-.308-.377-.39Zm0,6.138c-.323.081-.417.29-.454.6a19.8,19.8,0,0,0,.072,3.192.323.323,0,0,0,.185.2l9.719-.031a.5.5,0,0,0,.148-.236,24.257,24.257,0,0,0,.041-3.311c-.041-.214-.186-.308-.377-.39Zm0,6.138c-.29.094-.416.2-.457.5a21.69,21.69,0,0,0,.075,3.291.323.323,0,0,0,.185.2l9.719-.031a.5.5,0,0,0,.148-.236,21.128,21.128,0,0,0,.037-3.212.562.562,0,0,0-.372-.491Z" transform="translate(-150.382 -193.639)"/>
                            <path id="Tracé_1854" data-name="Tracé 1854" d="M1.991,243.629a2.817,2.817,0,0,1-1.918-2.158,18.558,18.558,0,0,1,.173-4.527c.052-.157.269-.381.274-.461a9.531,9.531,0,0,1-.446-1.15,26.023,26.023,0,0,1,.009-4.02,2.434,2.434,0,0,1,2.1-1.975,7.331,7.331,0,0,1-1.167-8.695,7.127,7.127,0,0,1,10.759-2,7.311,7.311,0,0,1,.573,10.645,2.725,2.725,0,0,1,1.9,1.555,13.713,13.713,0,0,1,.072,4.827,8.73,8.73,0,0,0-.336.812c0,.129.25.418.315.639a12.927,12.927,0,0,1-.079,4.969,2.644,2.644,0,0,1-1.773,1.535ZM7.057,219.1c-6.82.238-6.3,10.859.831,10.139,6.145-.621,5.7-10.367-.831-10.139m-4.422,12.27c-.29.094-.416.2-.457.5a28.811,28.811,0,0,0,.052,3.314.357.357,0,0,0,.212.172l9.384.024a.5.5,0,0,0,.479-.384,16.135,16.135,0,0,0,.042-2.832c-.029-.286-.068-.689-.377-.774Zm0,6.138c-.29.094-.416.2-.457.5a28.811,28.811,0,0,0,.052,3.314.357.357,0,0,0,.212.172l9.384.024a.5.5,0,0,0,.479-.384,16.134,16.134,0,0,0,.042-2.832c-.029-.287-.068-.689-.377-.774Z" transform="translate(0 -194.525)"/>
                            <path id="Tracé_1855" data-name="Tracé 1855" d="M92.975,6.779c-.753-.754.19-1.977.112-2.844L80.467,14.043a1.183,1.183,0,0,1-1.052.3c-2.347-1.506-4.591-3.2-6.852-4.845L60.884,19.2a1.079,1.079,0,1,1-1.318-1.7L71.7,7.387a1.077,1.077,0,0,1,1.345-.1l6.442,4.592.221.063L91.791,2.255c-.795-.239-1.7.336-2.445-.143A1.03,1.03,0,0,1,89.062.582c.289-.418.946-.454,1.431-.488C92.019-.013,93.662.049,95.2,0a1.027,1.027,0,0,1,.865,1.157c-.079,1.519-1.139,3.757-1.375,5.338a1.071,1.071,0,0,1-1.714.284" transform="translate(-52.973)"/>
                        </g>
                    </svg>
                    <span><b>2 500 EUR :</b> PIB / Habitant
                        x2 sur la période
                        2013 – 2023
                    </span>
                </span>
                <span class="icones d-flex gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 49.042 49.103">
                        <defs>
                        <clipPath id="clip-path">
                            <rect id="Rectangle_313" data-name="Rectangle 313" width="49.042" height="49.103" fill="none"/>
                        </clipPath>
                        </defs>
                        <g id="Groupe_504" data-name="Groupe 504" clip-path="url(#clip-path)">
                        <path id="Tracé_1849" data-name="Tracé 1849" d="M0,233.913a3.412,3.412,0,0,1,2.3-1.636c1.862-.539,5.848-.567,7.156,1.123a3.731,3.731,0,0,1,.355.565v6.692a9.863,9.863,0,0,1,6.566.024c.436.184,1.608.966,1.608,1.457v2.605a9.864,9.864,0,0,1,6.566.024c.436.184,1.608.966,1.608,1.457v8.633H27.79v-7.714a3.076,3.076,0,0,1,.46-.46h6.079V240.6a3.076,3.076,0,0,1,.46-.46h6.079v-7.714c0-.206.558-.446.76-.466,2.124-.211,4.592.174,6.755,0,.31-.019.413.29.659.414v23.7c-.246.124-.348.433-.659.414l-23.1-.008a15.664,15.664,0,0,1-2.6.82H19.821c-.6-.164-1.2-.3-1.79-.509-.261-.095-.723-.43-.91-.414-.109.009-.905.469-1.186.561-.468.154-.967.192-1.426.362H11.647c-.6-.164-1.2-.3-1.79-.509-.261-.095-.723-.43-.91-.414-.109.009-.905.469-1.186.561-.468.154-.967.192-1.426.362H3.474c-1.359-.334-2.76-.6-3.474-1.941Zm8.071.41c-1.57-.795-4.706-1.009-6.2-.026-.1.064-.184-.012-.131.227,1.57.795,4.706,1.009,6.2.026.1-.064.184.012.131-.227m39.336-.717H42.5v21.251h4.9ZM8.174,236.365a10.022,10.022,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm0,4.087a10.045,10.045,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm8.071,2.045c-1.57-.795-4.706-1.009-6.2-.026-.1.064-.184-.012-.131.227,1.57.795,4.706,1.009,6.2.026.1-.064.184.012.131-.227m24.624-.717h-4.9v13.078h4.9ZM8.174,244.538a10.045,10.045,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm8.174,0a10.045,10.045,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm8.071,2.045c-1.57-.795-4.706-1.009-6.2-.026-.1.064-.184-.012-.131.227,1.57.795,4.706,1.009,6.2.026.1-.064.184.012.131-.227m9.911,1.735h-4.9v6.539h4.9Zm-26.156.307a10.022,10.022,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm8.174,0a10.022,10.022,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm8.174,0a10.022,10.022,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0ZM8.174,252.712a10.022,10.022,0,0,1-6.539,0v2.095a6.7,6.7,0,0,0,6.539,0Zm8.174,0a10.022,10.022,0,0,1-6.539,0v2.095a6.7,6.7,0,0,0,6.539,0Zm8.174,0a10.022,10.022,0,0,1-6.539,0v2.095a6.7,6.7,0,0,0,6.539,0Z" transform="translate(0 -208.207)"/>
                        <path id="Tracé_1850" data-name="Tracé 1850" d="M45.036.062A19.951,19.951,0,0,1,62.666,17.944a6.707,6.707,0,0,1-1.687.2A17.9,17.9,0,0,0,55.6,6.821l-.21.059L51.48,10.136c-.044.184,1.253,2.893,1.372,3.411a1.564,1.564,0,0,1,.046.66,40.619,40.619,0,0,1-2.5,3.429c-.147.153-.294.364-.514.406-1.069.2-3.068-.253-4.039.048a20.956,20.956,0,0,0-2.338,1.757l.045.237,2.422,3.661c.278.162,2.519-.086,3.093.023a1.522,1.522,0,0,1,.564.458V30.3H48V25.4h-2.81c-.323,0-3.159-4.749-3.673-5.317-.219-.634-.009-.834.407-1.219.3-.28,3.093-2.38,3.291-2.431.812-.208,3.515.2,4.01-.077.318-.685,1.571-1.791,1.788-2.406a.42.42,0,0,0,.035-.324L49.658,10.2l0-.671,4.576-3.9A14.667,14.667,0,0,0,52.384,4.31a10.861,10.861,0,0,0-1.524-.836c-.111-.028-.172-.045-.258.053l-5,5.017c-.183,1.676.107,3.414-.149,5.061l-5.22,3.566a1.042,1.042,0,0,1-.87-.041l-3.183-3.152L32.062,13.9c-.158-.145-.365-.284-.409-.511-.13-.682.181-2.531-.053-3.012l-2.659-1.6a16.837,16.837,0,0,0-3.626,8.451h4.24c.974.982,1.666,2.207,2.571,3.253l6.469.07a2,2,0,0,1,.35.365,41.048,41.048,0,0,1,2.433,4,1.39,1.39,0,0,1,.078.736c-.12.612-3.268,2.447-3.268,2.659V30.3H36.555v-2.81c0-.232,2.632-1.979,2.945-2.348l-1.713-2.868-.358-.153-6.114-.016a31.6,31.6,0,0,1-2.575-3.249H25.215a11.37,11.37,0,0,0,.095,3.1c-.067.238-1.448.256-1.73.269A19.8,19.8,0,0,1,37.09.954,20.918,20.918,0,0,1,41.255.062a29.354,29.354,0,0,1,3.78,0M33.286,9.512c.178.631-.133,2.081,0,2.81h3.627c.21,0,2.514,2.7,2.978,2.948l4-2.56.074-4.882L49.02,2.719a18.136,18.136,0,0,0-13.045.492,18.876,18.876,0,0,0-5.957,4.156c0,.2,3.147,1.72,3.268,2.145" transform="translate(-21.026 -0.001)"/>
                        <path id="Tracé_1851" data-name="Tracé 1851" d="M262.886,148.684h-1.635l-.051-1.226-16.757,16.755H240v-1.635h3.729l16.3-16.3-1.226-.051V144.6h3.627a3.075,3.075,0,0,1,.46.46Z" transform="translate(-215.479 -129.823)"/>
                        <rect id="Rectangle_312" data-name="Rectangle 312" width="1.635" height="1.635" transform="translate(21.251 32.756)"/>
                        </g>
                    </svg>              
                    <span><b>+7% :</b> croissance
                        moyenne de l’économie
                        2015 – 2025
                    </span>
                </span>
            </div>
            <p><b>Abidjan, vibrante et cosmopolite</b>, est un carrefour immanquable pour les 
                grandes enseignes internationales. Son dynamisme, soutenu par une 
                <b>croissance économique exceptionnelle</b>, en fait une terre d’opportunités 
                sans équivalent en Afrique de l’Ouest.</p>
                
            <p><b>L’économie ivoirienne</b>, parmi les plus performantes d’Afrique 
                Subsaharienne, <b>attire les investisseurs étrangers et l’implantation 
                d’entreprises internationales</b>. Ses infrastructures modernes, sa stabilité politique et monétaire offrent <b>un cadre idéal pour le développement du retail et des nouvelles expériences commerciales</b>.</p>
                
            <p>Déjà prisée par des géants de la grande distribution et du FMCG* (tels 
                que Carrefour, Auchan, Mr. Bricolage ou encore la FNAC), Abidjan
                confirme ces dernières années sa <b>position de leader africain du 
                marché de la consommation</b> par l’installation croissante d’enseignes 
                internationales dans les domaines de la mode (Hugo Boss, Lacoste, Tommy 
                Hilfiger), de la restauration (Burger King, Em Sherif, Tsunami, Eric Kayser) et du loisir (Cinéma Pathé, Casino Barrière).</p>
        </div>
    </div>
    <div class="presentation__illust" style="background: url({{asset('assets/medias/bg/abidjan_big.webp')}}) top / cover no-repeat; width: 100%; height: 100%"></div>
</section>

<section id="presentation-s2" class="container grid-container">
    <div class="s2-map column__left">
        <img alt="marcory map" src="{{ asset('assets/medias/bg/zone4.png') }}" height="400">
    </div>
    <div class="s2-text column__right">
        <div class="">
            <span class="title__prm">
                <svg xmlns="http://www.w3.org/2000/svg" width="240" height="70" viewBox="0 0 341.569 98.103">
                    <g id="Groupe_1188" data-name="Groupe 1188" transform="translate(-1094.441 -2309)">
                    <path id="Tracé_2117" data-name="Tracé 2117" d="M201.548,60.7v36h20.8V90.251h-13.1v-8.7h13.1v-6.2h-13.1v-8.2h13.1V60.7Z" transform="translate(1167.213 2309.701)" fill="#040405"/>
                    <path id="Tracé_2118" data-name="Tracé 2118" d="M43.2,60.7v36H64V90.251H50.9v-8.7H64v-6.2H50.9v-8.2H64V60.7Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2119" data-name="Tracé 2119" d="M168.548,36.7V.7h20.8V7.15h-13.1v8.2h13.1v6.2h-13.1v8.7h13.1V36.7Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2120" data-name="Tracé 2120" d="M68.952,23.6c0,8.4-5.55,13.8-15.051,13.8-9.45,0-15.051-5.4-15.051-13.8V.7h7.7V22.852c0,4.7,2.65,7.5,7.35,7.5,4.751,0,7.351-2.8,7.351-7.5V.7h7.7Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2121" data-name="Tracé 2121" d="M116.4,9.551a21.6,21.6,0,0,0-9.95-2.5c-7.3,0-11.9,5.25-11.9,11.65,0,6.451,4.55,11.651,11.651,11.651a22.8,22.8,0,0,0,10.45-2.5V35a24.84,24.84,0,0,1-11,2.4,18.328,18.328,0,0,1-18.8-18.7C86.848,8.2,94.8,0,105.9,0a22.1,22.1,0,0,1,10.5,2.5Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2122" data-name="Tracé 2122" d="M140.6,0a18.458,18.458,0,0,1,18.851,18.7,18.852,18.852,0,0,1-37.7,0A18.459,18.459,0,0,1,140.6,0m0,30.352c6.5,0,11.1-5.2,11.1-11.651,0-6.4-4.6-11.651-11.1-11.651S129.5,12.3,129.5,18.7c0,6.451,4.6,11.651,11.1,11.651" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2123" data-name="Tracé 2123" d="M228,23.6c0,8.4-5.55,13.8-15.051,13.8C203.5,37.4,197.9,32,197.9,23.6V.7h7.7V22.852c0,4.7,2.649,7.5,7.35,7.5,4.751,0,7.351-2.8,7.351-7.5V.7H228Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2124" data-name="Tracé 2124" d="M249.947.7c8.351,0,13.9,4.15,13.9,11.85A10.533,10.533,0,0,1,257,22.8l7.55,13.9H256.4l-6.351-12.6h-5.2V36.7H237.3V.7Zm-5.1,6.45V17.9h5.5c3.4,0,5.75-1.7,5.75-5.351,0-3.6-2.449-5.4-5.95-5.4Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2125" data-name="Tracé 2125" d="M4.151,96.7v-36h11.5c12.251,0,20,7.45,20,18s-7.7,18-19.9,18Zm7.7-29.552v23.1h3.8c7.7,0,12.251-5,12.251-11.551,0-6.5-4.55-11.551-12.351-11.551Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <path id="Tracé_2126" data-name="Tracé 2126" d="M100.2,67.15H84.349V60.7H111.9L94.5,90.252H111.35V96.7H82.8Z" transform="translate(1167.213 2309.701)" fill="#040405"/>
                    <path id="Tracé_2127" data-name="Tracé 2127" d="M135.45,60A18.7,18.7,0,1,1,116.6,78.7,18.458,18.458,0,0,1,135.45,60m0,30.351c6.5,0,11.1-5.2,11.1-11.65,0-6.4-4.6-11.651-11.1-11.651s-11.1,5.25-11.1,11.651c0,6.45,4.6,11.65,11.1,11.65" transform="translate(1167.213 2309.701)" fill="#040405"/>
                    <path id="Tracé_2128" data-name="Tracé 2128" d="M191.5,97.252,171.749,78.3l-2.351-2.05V96.7h-7.55V60.15h.3l19.7,18.951,2.3,2.05V60.7h7.6V97.252Z" transform="translate(1167.213 2309.701)" fill="#040405"/>
                    <path id="Tracé_2129" data-name="Tracé 2129" d="M257.647,96.7V88.9h-17.5l12.1-28.2h7.45l-9.25,21.852h7.35V74.2h6.5v8.351h4.5V88.9h-4.5v7.8Z" transform="translate(1167.213 2309.701)" fill="#040405"/>
                    <path id="Tracé_2130" data-name="Tracé 2130" d="M17.751.15h-.3L0,36.7H8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4L27.2,36.7h8.05Z" transform="translate(1094.441 2309)" fill="#040405"/>
                    <g id="Groupe_1135" data-name="Groupe 1135" transform="translate(960 -2702.832)">
                        <path id="Tracé_2195" data-name="Tracé 2195" d="M2.25,36.552V.55h7.7V30.1H23.8v6.45Z" transform="translate(215.252 5072.684)" fill="#040405"/>
                        <path id="Tracé_2202" data-name="Tracé 2202" d="M44.2,0h-.3L26.449,36.552H34.5L37.3,30.2l2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351H61.7Z" transform="translate(215.252 5072.684)" fill="#040405"/>
                    </g>
                    </g>
                </svg>
            </span>
            <div class="presentation__text-div">
                <p>Le Passage Lumière bénéficie d’un emplacement stratégique dans <b>l’un des quartiers les plus animés d’Abidjan</b>, à proximité des centres d’affaires et résidentiels de la ville.<br>
                    À l’intersection d’acteurs commerciaux déjà implantés. <b>Le dynamisme de cette zone favorise l’attractivité et l’affluence du Passage Lumière.</b><br>
                    Le Passage Lumière est un projet unique par son identité, véritable écrin de nature en <b>plein cœur d’un quartier historique</b> où se mêlent industries, commerces et résidentiels.</p>

                <ul class="custom-list">
                    <li>Une attractivité exceptionnelle</li>
                    <li>Un flux continu</li>
                    <li>Affluence constante</li>
                    <li>Centres commerciaux</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="presentation-s3" class="container grid-container">
    <div class="s3-text column__left">
        <div class="">
            <span class="title__prm">
                <svg id="Groupe_990" data-name="Groupe 990" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="320" height="70" viewBox="0 0 461.143 100.253">
                    <defs>
                    <clipPath id="clip-path">
                        <rect id="Rectangle_368" data-name="Rectangle 368" width="461.143" height="100.253" transform="translate(0 0)" fill="none"/>
                    </clipPath>
                    </defs>
                    <path id="Tracé_2132" data-name="Tracé 2132" d="M29.9,39.553v-36H50.7V10H37.6v8.2H50.7v6.2H37.6v8.7H50.7v6.45Z" fill="#040405"/>
                    <path id="Tracé_2133" data-name="Tracé 2133" d="M257.045,63.551v36h20.8V93.1h-13.1V84.4h13.1V78.2h-13.1V70h13.1v-6.45Z" fill="#040405"/>
                    <path id="Tracé_2134" data-name="Tracé 2134" d="M356.495,63.551v36h20.8V93.1h-13.1V84.4h13.1V78.2h-13.1V70h13.1v-6.45Z" fill="#040405"/>
                    <path id="Tracé_2135" data-name="Tracé 2135" d="M295.895,39.553v-36h20.8V10h-13.1v8.2h13.1v6.2h-13.1v8.7h13.1v6.45Z" fill="#040405"/>
                    <path id="Tracé_2136" data-name="Tracé 2136" d="M0,3.551v36H21.551V33.1H7.7V3.551Z" fill="#040405"/>
                    <path id="Tracé_2137" data-name="Tracé 2137" d="M84.949,10V39.553h-7.7V10H67.2V3.551H95.05V10Z" fill="#040405"/>
                    <g id="Groupe_687" data-name="Groupe 687">
                    <g id="Groupe_686" data-name="Groupe 686" clip-path="url(#clip-path)">
                        <path id="Tracé_2138" data-name="Tracé 2138" d="M114.1,3.551c8.351,0,13.9,4.15,13.9,11.85a10.533,10.533,0,0,1-6.85,10.251l7.55,13.9h-8.15l-6.351-12.6H109v12.6h-7.55v-36ZM109,10V20.752h5.5c3.4,0,5.75-1.7,5.75-5.351,0-3.6-2.449-5.4-5.949-5.4Z" fill="#040405"/>
                        <rect id="Rectangle_367" data-name="Rectangle 367" width="7.7" height="36.002" transform="translate(136.098 3.551)" fill="#040405"/>
                        <path id="Tracé_2139" data-name="Tracé 2139" d="M220,40.1,200.247,21.152,197.9,19.1V39.553h-7.55V3h.3l19.7,18.951,2.3,2.05V3.551h7.6V40.1Z" fill="#040405"/>
                        <path id="Tracé_2140" data-name="Tracé 2140" d="M247.1,40.253c-11.4,0-19.351-8.15-19.351-18.7,0-10.5,8.05-18.7,19.2-18.7a26.661,26.661,0,0,1,11.3,2.45v7.1a24.824,24.824,0,0,0-10.8-2.5C240,9.9,235.5,15.151,235.5,21.552c0,6.5,4.5,11.7,11.6,11.7a17.549,17.549,0,0,0,4.9-.7v-9.6h7.351V37.5a28.361,28.361,0,0,1-12.251,2.75" fill="#040405"/>
                        <path id="Tracé_2141" data-name="Tracé 2141" d="M267.545,39.553v-36h7.7V33.1H289.1v6.45Z" fill="#040405"/>
                        <path id="Tracé_2142" data-name="Tracé 2142" d="M338.144,39.553v-36h11.5c12.251,0,20,7.45,20,18s-7.7,18-19.9,18ZM345.844,10V33.1h3.8c7.7,0,12.251-5,12.251-11.551,0-6.5-4.55-11.551-12.351-11.551Z" fill="#040405"/>
                        <path id="Tracé_2143" data-name="Tracé 2143" d="M379.593,14.6h-6.05l3.9-14.6h7.6Z" fill="#040405"/>
                        <path id="Tracé_2144" data-name="Tracé 2144" d="M407.493,2.85a18.458,18.458,0,0,1,18.851,18.7,18.852,18.852,0,0,1-37.7,0,18.459,18.459,0,0,1,18.851-18.7m0,30.352c6.5,0,11.1-5.2,11.1-11.65,0-6.4-4.6-11.651-11.1-11.651s-11.1,5.25-11.1,11.651c0,6.45,4.6,11.65,11.1,11.65" fill="#040405"/>
                        <path id="Tracé_2145" data-name="Tracé 2145" d="M446.541,3.551c8.351,0,13.9,4.15,13.9,11.85a10.533,10.533,0,0,1-6.85,10.251l7.55,13.9h-8.15l-6.351-12.6h-5.2v12.6h-7.55v-36Zm-5.1,6.45V20.752h5.5c3.4,0,5.75-1.7,5.75-5.351,0-3.6-2.449-5.4-5.95-5.4Z" fill="#040405"/>
                        <path id="Tracé_2146" data-name="Tracé 2146" d="M0,99.553v-36H11.5c12.251,0,20,7.45,20,18s-7.7,18-19.9,18ZM7.7,70V93.1h3.8c7.7,0,12.251-5,12.251-11.551C23.751,75.051,19.2,70,11.4,70Z" fill="#040405"/>
                        <path id="Tracé_2147" data-name="Tracé 2147" d="M68.651,86.452c0,8.4-5.55,13.8-15.051,13.8-9.45,0-15.051-5.4-15.051-13.8v-22.9h7.7V85.7c0,4.7,2.65,7.5,7.35,7.5,4.751,0,7.351-2.8,7.351-7.5V63.551h7.7Z" fill="#040405"/>
                        <path id="Tracé_2148" data-name="Tracé 2148" d="M116.1,72.4a21.6,21.6,0,0,0-9.95-2.5c-7.3,0-11.9,5.25-11.9,11.65C94.249,88,98.8,93.2,105.9,93.2a22.8,22.8,0,0,0,10.45-2.5v7.15a24.84,24.84,0,0,1-11,2.4,18.328,18.328,0,0,1-18.8-18.7c0-10.5,7.951-18.7,19.052-18.7a22.1,22.1,0,0,1,10.5,2.5Z" fill="#040405"/>
                        <path id="Tracé_2149" data-name="Tracé 2149" d="M140.3,62.85a18.7,18.7,0,1,1-18.851,18.7A18.458,18.458,0,0,1,140.3,62.85m0,30.352c6.5,0,11.1-5.2,11.1-11.65,0-6.4-4.6-11.651-11.1-11.651s-11.1,5.25-11.1,11.651c0,6.45,4.6,11.65,11.1,11.65" fill="#040405"/>
                        <path id="Tracé_2150" data-name="Tracé 2150" d="M175.947,80.951l-1.9-1.649V99.553H166.7V63h.149L184,80.3,201.149,63h.15V99.553h-7.351V79.3l-1.9,1.649c-2.65,2.9-5.351,5.8-8.051,8.651-2.7-2.85-5.35-5.751-8.05-8.651" fill="#040405"/>
                        <path id="Tracé_2151" data-name="Tracé 2151" d="M220.347,80.951l-1.9-1.649V99.553H211.1V63h.149L228.4,80.3,245.549,63h.15V99.553h-7.351V79.3l-1.9,1.649c-2.65,2.9-5.351,5.8-8.051,8.651-2.7-2.85-5.35-5.751-8.05-8.651" fill="#040405"/>
                        <path id="Tracé_2152" data-name="Tracé 2152" d="M299.545,63.551c8.351,0,13.9,4.15,13.9,11.85a10.533,10.533,0,0,1-6.85,10.251l7.55,13.9H306l-6.351-12.6h-5.2v12.6h-7.55v-36Zm-5.1,6.45V80.752h5.5c3.4,0,5.75-1.7,5.75-5.351,0-3.6-2.449-5.4-5.95-5.4Z" fill="#040405"/>
                        <path id="Tracé_2153" data-name="Tracé 2153" d="M348.846,72.4a21.6,21.6,0,0,0-9.95-2.5c-7.3,0-11.9,5.25-11.9,11.65,0,6.451,4.55,11.651,11.651,11.651a22.8,22.8,0,0,0,10.45-2.5v7.15a24.84,24.84,0,0,1-11,2.4,18.328,18.328,0,0,1-18.8-18.7c0-10.5,7.951-18.7,19.052-18.7a22.1,22.1,0,0,1,10.5,2.5Z" fill="#040405"/>
                        <path id="Tracé_2154" data-name="Tracé 2154" d="M167.2,3h-.3L149.447,39.553h8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351h8.05Z" fill="#040405"/>
                    </g>
                    </g>
                </svg>
            </span>
            <div class="presentation__text-div">
                <table border="0">
                    <tr>
                        <td rowspan="2" style="padding-right: 30px;">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 50.758 51.79">
                                <defs>
                                <clipPath id="clip-path">
                                    <rect id="Rectangle_240" data-name="Rectangle 240" width="50.758" height="51.79" fill="none"/>
                                </clipPath>
                                </defs>
                                <g id="Groupe_991" data-name="Groupe 991" transform="translate(0 0)">
                                <g id="Groupe_328" data-name="Groupe 328" transform="translate(0 0)" clip-path="url(#clip-path)">
                                    <path id="Tracé_1737" data-name="Tracé 1737" d="M7.879,10.686a6.2,6.2,0,0,0-4.78,3.1C.926,17.8,3.775,22.029,6.286,25.066a18.8,18.8,0,0,0,2.161,2.268c3-3.119,7.156-7.724,5.779-12.423A6.151,6.151,0,0,0,7.893,10.7Zm26.588-8.4a6.217,6.217,0,0,0-5.7,4.227c-1.5,4.685,2.9,9.357,5.765,12.53,3.12-3.24,7.845-8.548,5.5-13.382a6.236,6.236,0,0,0-5.563-3.375M35.7.032a8.764,8.764,0,0,1,6.251,4.321c2.877,5.442-.9,11.018-4.483,14.989a16.043,16.043,0,0,1-1.945,2c-1.417.959-2.416-.445-3.321-1.4-3.4-3.592-7.143-8.708-5.712-13.947A20.931,20.931,0,0,0,13.24,9.822a9.214,9.214,0,0,1,2.268,2.43c3.025,4.928.244,10.045-2.969,13.988-.609.743-2.756,3.3-3.47,3.606a1.615,1.615,0,0,1-1.89-.364C4.288,26.889.29,21.448.021,17.464A8.543,8.543,0,0,1,8.352,8.323c.567,0,2.444.472,2.7.391.121-.04,1.067-.85,1.309-1.012A22.733,22.733,0,0,1,25.838,3.678a9.9,9.9,0,0,0,1.688.107A8.7,8.7,0,0,1,31.51.572,12.186,12.186,0,0,1,33.36.046a14.647,14.647,0,0,1,2.322,0H35.7Z" transform="translate(0 0.001)" fill="#48a23e"/>
                                    <path id="Tracé_1738" data-name="Tracé 1738" d="M26.362,44.937c.135.095.595-.433.7-.554,3.228-3.362,7.831-9.4,4.132-13.947a6.142,6.142,0,0,0-10.329,1.5c-1.918,4.727,2.362,9.574,5.373,12.761a.423.423,0,0,1,.095.257h.027ZM2.948,25.966a1.207,1.207,0,0,1,1.688.04c.514,1.228.838,2.511,1.39,3.727A19.932,19.932,0,0,0,18.5,40.508a9.794,9.794,0,0,0,1.538.378c.163,0,.176.014.149-.148-3.349-4.686-2.795-11.707,2.971-14.125,7.548-3.159,14.313,4.78,10.788,11.9-.027.067.081.067.149.054a19.5,19.5,0,0,0,2.983-2.175,19.84,19.84,0,0,0,5.105-22.685c-.338-.85-1.4-2.16-.244-2.876,1.485-.931,2.432,2.052,2.8,3.052a22.166,22.166,0,0,1-10.181,27.06c-.69.378-2.134.85-2.634,1.215a30.25,30.25,0,0,0-1.971,2.472c-.54.62-2.39,2.767-3.052,2.9-1.174.243-1.783-.634-2.511-1.39a33.2,33.2,0,0,0-2.282-2.58,12.65,12.65,0,0,0-1.917-.31c-8.021-1.621-15.244-7.386-17.351-15.5-.162-.607-.419-1.269.107-1.809Z" transform="translate(1.043 4.218)" fill="#48a23e"/>
                                    <path id="Tracé_1739" data-name="Tracé 1739" d="M32.122,2.685a30.5,30.5,0,0,1,5.2,0,1.167,1.167,0,0,1,.324,2.295H31.7a1.182,1.182,0,0,1,.4-2.295Z" transform="translate(12.243 1.02)" fill="#48a23e"/>
                                    <path id="Tracé_1740" data-name="Tracé 1740" d="M13.75,12.6a36.1,36.1,0,0,1,5.523-.014,1.167,1.167,0,0,1,0,2.309,36.1,36.1,0,0,1-5.549,0,1.158,1.158,0,0,1,.013-2.295Z" transform="translate(5.04 4.945)" fill="#48a23e"/>
                                    <path id="Tracé_1741" data-name="Tracé 1741" d="M13.089,15.913a11.289,11.289,0,0,1,3.254.121,1.145,1.145,0,0,1-.364,2.161,16.731,16.731,0,0,1-3.078-.04,1.159,1.159,0,0,1,.174-2.256Z" transform="translate(4.783 6.278)" fill="#48a23e"/>
                                    <path id="Tracé_1742" data-name="Tracé 1742" d="M32.644,6.065a21.3,21.3,0,0,1,3.47.027,1.162,1.162,0,0,1-.271,2.175,20.472,20.472,0,0,1-3.281-.04,1.172,1.172,0,0,1,.081-2.161" transform="translate(12.625 2.379)" fill="#48a23e"/>
                                    <path id="Tracé_1743" data-name="Tracé 1743" d="M25.882,4.977c-3.145.269-2.795,5.009.271,4.928,3.268-.081,3.038-5.225-.271-4.928m.095-2.323c6.306-.107,6.413,9.479.162,9.533s-6.32-9.426-.162-9.533" transform="translate(8.476 1.051)" fill="#48a23e"/>
                                    <path id="Tracé_1744" data-name="Tracé 1744" d="M6.925,10.992A2.462,2.462,0,1,0,7.991,15.8c2.742-.459,2.282-5.334-1.067-4.806m0-2.323c6.279-.607,6.981,8.938.972,9.465-6.427.581-7.182-8.87-.972-9.465" transform="translate(1.049 3.422)" fill="#48a23e"/>
                                    <path id="Tracé_1745" data-name="Tracé 1745" d="M20.492,26.639c-2.511.419-2.525,4.321.121,4.78,3.713.648,3.889-5.469-.121-4.78m-.2-2.323c6.751-.864,7.372,9.155.986,9.479-5.982.3-6.724-8.736-.986-9.479" transform="translate(6.48 9.608)" fill="#48a23e"/>
                                </g>
                                </g>
                            </svg>
                        </td>
                        <td colspan="2"><h4>Accès Direct</h4></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-bottom: 30px;">Depuis la rue Louis Lumière</td>
                    </tr>
                    <tr>
                        <td rowspan="5" style="padding-right: 30px;">
                            <svg id="Groupe_992" data-name="Groupe 992" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 52.005 51.79">
                                <defs>
                                    <clipPath id="clip-path">
                                    <rect id="Rectangle_241" data-name="Rectangle 241" width="52.005" height="51.79" fill="none"/>
                                    </clipPath>
                                </defs>
                                <g id="Groupe_330" data-name="Groupe 330" transform="translate(0 0)" clip-path="url(#clip-path)">
                                    <path id="Tracé_1746" data-name="Tracé 1746" d="M27.872,50.136V40.245c0-1.478-1.328-4.011-2.276-5.122-4.269-4.987-10.1-2.833-15.733-3.348-.311-.027-.582-.067-.745-.365-.367-.65.067-3.062-.163-4a1,1,0,0,0-1.017-.7c-.352.041-.867.65-1.124.909C5.352,29.133,3.59,31.07,2.248,32.684c-.6.732-.907,1.03-.244,1.87,1.572,2.045,3.781,3.915,5.38,5.975a.981.981,0,0,0,1.572-.338c.284-.949-.123-2.914.054-4.011a.928.928,0,0,1,.474-.65L19,35.5c2.52.148,5.218,2.913,5.218,5.433v9.174h3.644v.027ZM52,24.58a5.712,5.712,0,0,1-.719,1.165,25.287,25.287,0,0,1-2.018,2.235.825.825,0,0,1-1.395-.528c-.041-.854,2.466-2.533,2.56-3.482a1.341,1.341,0,0,0-.407-.921c-1.6-2.02-3.686-3.835-5.285-5.868a.986.986,0,0,0-1.626.285c-.257.853.231,3.644-.2,4.159a1.484,1.484,0,0,1-.448.258c-3.157.284-6.571-.2-9.688.054a9.844,9.844,0,0,0-7.886,5.907c-.325.8-1,3.279-.638,4.025.1.2,1.776,1.232,2.02,1.639l1.585,2.02V31.112a8.5,8.5,0,0,1,.692-2.358c2.466-4.824,9.227-2.71,13.563-3.185.434.027.881.2.949.665.177,1.111-.121,2.6,0,3.74a.98.98,0,0,0,.867.961c1.125.081,2.182-3.021,3.293-1.883.542.555-.054,1.192-.407,1.626-.949,1.138-1.749,2.033-3.375,1.747a2.658,2.658,0,0,1-2.005-2.262v-3h-8.17c-1.707,0-3.767,2.2-3.794,3.917l-.041,20.04c-.136.461-.6.556-1.03.583a35.019,35.019,0,0,1-4.77,0c-.528-.041-.988-.163-1.07-.759-.19-3.2.257-6.681,0-9.852a4.459,4.459,0,0,0-4.106-4.105H10.595v3.089a2.965,2.965,0,0,1-1.314,1.937,2.58,2.58,0,0,1-3.306-.663c-1.843-1.83-3.469-4.092-5.326-5.935a2.6,2.6,0,0,1,.108-3.55c1.626-2.074,3.794-3.944,5.42-6.043,1.382-1.5,4.417-.5,4.417,1.572v2.683c4,.175,8.13-.542,11.966.813V18.781c0-.434.894-.759,1.314-.407a3.667,3.667,0,0,1,.312.5v6.638A13.967,13.967,0,0,1,27.818,21.9V9.946c.027-.461.175-.88.678-.949.949-.148,3.59.271,4.213-.257.759-.65.081-1.355-.407-1.83-1.816-1.762-3.915-3.36-5.731-5.122a.9.9,0,0,0-1.111,0c-1.816,1.762-3.917,3.36-5.733,5.122-.5.488-1.165,1.192-.407,1.83.623.528,3.252.108,4.215.257.528.081.623.488.663.949.177,1.911-.121,4.119-.027,6.071a.83.83,0,0,1-1.328.583,3.073,3.073,0,0,1-.284-.352V10.624H19.878a2.723,2.723,0,0,1-2.466-2.1C17.18,7.06,17.966,6.41,18.9,5.5c1.53-1.476,3.5-3.279,5.122-4.607C25.488-.3,26.517-.3,27.967.894c1.613,1.315,3.523,3.062,5.028,4.513.88.853,1.72,1.491,1.626,2.846a2.7,2.7,0,0,1-2.493,2.385H29.444V21.084a15.39,15.39,0,0,1,3.4-.813c2.764-.2,5.772.15,8.564,0V17.48a3.039,3.039,0,0,1,1.247-1.9,2.6,2.6,0,0,1,3.375.623c1.476,1.463,3.2,3.469,4.566,5.068A7.35,7.35,0,0,1,51.964,23.2v1.314Z" transform="translate(0 0)" fill="#48a23e"/>
                                </g>
                            </svg>
                        </td>
                        <td colspan="2"><h4>Proximité centres commerciaux</h4></td>
                    </tr>
                    <tr>
                        <td>Prima Center</td>
                        <td>100 m</td>
                    </tr>
                    <tr>
                        <td>Cap Sud</td>
                        <td>200 m</td>
                    </tr>
                    <tr>
                        <td>Square Center</td>
                        <td>500 m</td>
                    </tr>
                    <tr>
                        <td>Playce Marcory</td>
                        <td style="padding-bottom: 30px;">1,2 km</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="padding-right: 30px;">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 51.757 51.79">
                                <defs>
                                <clipPath id="clip-path">
                                    <rect id="Rectangle_242" data-name="Rectangle 242" width="51.757" height="51.789" fill="none"/>
                                </clipPath>
                                </defs>
                                <g id="Groupe_993" data-name="Groupe 993" transform="translate(0 0)">
                                <g id="Groupe_332" data-name="Groupe 332" transform="translate(0 0)" clip-path="url(#clip-path)">
                                    <path id="Tracé_1747" data-name="Tracé 1747" d="M43.65,5.037a4.309,4.309,0,0,0-1.132-1.423C38.932.537,32.632,1.988,28.67,3.556,23.329,5.675,18.552,9.289,14.3,13.093a1.07,1.07,0,0,1-1.116-.131l-.813-1.625-1.191,6.851,6.952-1.742c.03-.291,0-.175-.159-.218-2.424-.726-2.946-.973-.87-2.932C22.2,8.462,32.545,1.045,39.92,2.86a7.879,7.879,0,0,1,3.73,2.192ZM18.552,14.6a1.464,1.464,0,0,1,.436.044,23.237,23.237,0,0,1,3.15,1.088.926.926,0,0,1-.117,1.51L9.944,20.293a.918.918,0,0,1-.842-.958c.769-3.556,1.1-7.3,1.873-10.843.145-.682.422-1.6,1.35-1.2.712.3,1.336,2.8,1.814,3.5,4.675-4.036,10.09-7.838,16.055-9.7C41.908-2.57,49.617,3.179,45.407,15.547a27.77,27.77,0,0,1-2.323,5.167.947.947,0,0,1-1.713-.523c.014-.464,1-2.642,1.219-3.352C43.84,12.774,44.913,5.966,39.455,4.6c-6.284-1.582-16.388,5.443-20.743,9.668-.1.1-.2.144-.159.319Z" transform="translate(3.86 0)" fill="#48a23e"/>
                                    <path id="Tracé_1748" data-name="Tracé 1748" d="M31.325,12.374l-6.851-1.146,1.742,6.9c.291.028.174,0,.218-.161.261-.856.436-2.555,1.713-2.046a7.5,7.5,0,0,1,1.116,1.06,53.844,53.844,0,0,1,7.521,10.09c2.555,4.543,5.6,12.425.812,16.5-.1.087-.347.218-.014.2,4.863-3.265,3.368-10.393,1.554-15.024-2.135-5.458-5.777-10.161-9.6-14.53a1.117,1.117,0,0,1,.16-1.045l1.626-.813Zm.537,1.727c3.992,4.732,7.781,10.045,9.668,16.025C44.97,41.044,40.267,49.36,28.074,45.746a28.351,28.351,0,0,1-6.082-2.612.946.946,0,0,1,.45-1.757c.464.014,2.642,1,3.352,1.219,9.783,2.991,15.256-.827,11.1-11.1-1.945-4.821-5.3-9.059-8.7-12.935-.246-.043-.13.117-.174.262A22.171,22.171,0,0,1,26.9,22.143a.928.928,0,0,1-1.467-.044L22.339,10.037a.921.921,0,0,1,.958-.914l11.482,2c2.206,1.568-1.887,2.439-2.932,2.991h.014Z" transform="translate(9.13 3.869)" fill="#48a23e"/>
                                    <path id="Tracé_1749" data-name="Tracé 1749" d="M5.023,3.881C4.877,3.75,3.745,4.854,3.6,5.013.523,8.6,1.974,14.9,3.542,18.876c2.119,5.342,5.733,10.117,9.537,14.37a1.072,1.072,0,0,1-.131,1.118l-1.625.813,6.851,1.189-1.742-6.952c-.291-.03-.175,0-.218.159-.262.856-.436,2.555-1.713,2.046a6.871,6.871,0,0,1-1.118-1.06A53.765,53.765,0,0,1,5.864,20.473C3.179,15.668.392,8.381,5.023,3.881m9.566,25.1a1.464,1.464,0,0,1,.044-.436,23.237,23.237,0,0,1,1.088-3.15.926.926,0,0,1,1.51.117l3.049,12.078a.917.917,0,0,1-.958.842c-3.556-.769-7.3-1.1-10.843-1.873-.682-.145-1.6-.422-1.2-1.35.3-.712,2.8-1.336,3.5-1.814C6.75,28.7,2.946,23.288,1.088,17.323-2.569,5.608,3.179-2.1,15.547,2.109a27.826,27.826,0,0,1,5.168,2.323.944.944,0,0,1-.523,1.713,32.74,32.74,0,0,0-6.663-2.032C7.606,3.169,3.57,5.274,4.514,11.822c.8,5.5,5.908,13.02,9.755,16.984.1.1.145.2.319.159Z" transform="translate(0 0.402)" fill="#48a23e"/>
                                    <path id="Tracé_1750" data-name="Tracé 1750" d="M36.354,24.485,29.4,26.227c-.03.291,0,.175.159.218.856.262,2.555.436,2.046,1.713a7.5,7.5,0,0,1-1.06,1.118A53.765,53.765,0,0,1,20.46,36.795c-4.746,2.672-12.106,5.5-16.534.857-.073-.016-.073.115-.058.159A7.662,7.662,0,0,0,5.9,39.7c4.645,2.773,12.048.131,16.447-2.207a55.508,55.508,0,0,0,10.887-7.911,1.1,1.1,0,0,1,1.118.131l.813,1.625L36.354,24.5Zm-7.388,3.586a1.124,1.124,0,0,1-.436-.058,23.434,23.434,0,0,1-3.15-1.088.926.926,0,0,1,.117-1.51l12.078-3.049a.915.915,0,0,1,.842.958c-.769,3.556-1.1,7.3-1.873,10.843-.145.682-.422,1.6-1.35,1.2-.712-.3-1.336-2.8-1.814-3.5-4.6,3.962-9.9,7.693-15.72,9.594C5.842,45.3-2.214,39.684,2.141,27.04a28,28,0,0,1,2.293-5.1.944.944,0,0,1,1.713.523,32.74,32.74,0,0,0-2.032,6.663C3.549,32.731,3.9,37,8.063,38.058c6.27,1.582,16.4-5.444,20.743-9.668.1-.1.2-.145.159-.319" transform="translate(0.4 9.134)" fill="#48a23e"/>
                                    <path id="Tracé_1751" data-name="Tracé 1751" d="M19.37,15.965c-5.007.682-4.282,8.362.843,8.013,5.457-.377,4.615-8.754-.843-8.013m4.776-.1c5.37,5.545-3.077,13.674-8.4,8.187-5.386-5.574,3.092-13.674,8.4-8.187" transform="translate(5.944 5.954)" fill="#48a23e"/>
                                </g>
                                </g>
                            </svg>                      
                        </td>
                        <td colspan="2"><h4>Zone de chalandise étendue</h4></td>
                    </tr>
                    <tr>
                        <td colspan="2">Large fréquentation depuis toutes les communes d’Abidjan</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="s3-map column__right">
        <img alt="marcory map" src="{{ asset('assets/medias/bg/marcory.png') }}" height="320">
    </div>
</section>

<section id="presentation-s4" class="">
    <div class="container grid-container">
        <div class="s4-text column__left">
            <div class="">
                <span class="title__prm">
                    <svg id="Groupe_995" data-name="Groupe 995" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="435" height="115" viewBox="0 0 586.321 157.743">
                        <defs>
                        <clipPath id="clip-path">
                            <rect id="Rectangle_385" data-name="Rectangle 385" width="586.321" height="157.743" fill="none"/>
                        </clipPath>
                        </defs>
                        <path id="Tracé_2253" data-name="Tracé 2253" d="M40.6.7v36H61.4V30.251H48.3v-8.7H61.4v-6.2H48.3v-8.2H61.4V.7Z" fill="#040405"/>
                        <path id="Tracé_2254" data-name="Tracé 2254" d="M279.245.7v36h20.8V30.251h-13.1v-8.7h13.1v-6.2h-13.1v-8.2h13.1V.7Z" fill="#040405"/>
                        <path id="Tracé_2255" data-name="Tracé 2255" d="M380.244.7v36h20.8V30.251h-13.1v-8.7h13.1v-6.2h-13.1v-8.2h13.1V.7Z" fill="#040405"/>
                        <path id="Tracé_2256" data-name="Tracé 2256" d="M0,36.7V.7H11.5c12.251,0,20,7.45,20,18s-7.7,18-19.9,18ZM7.7,7.15v23.1h3.8c7.7,0,12.251-5,12.251-11.551C23.751,12.2,19.2,7.15,11.4,7.15Z" fill="#040405"/>
                        <path id="Tracé_2257" data-name="Tracé 2257" d="M68.8,35.352v-7.4a23.587,23.587,0,0,0,9.051,2.6,13.1,13.1,0,0,0,3.2-.2c2.75-.4,4.35-1.45,4.35-3.2,0-2.4-2.15-3.651-7.1-5.45-6.3-2.3-10-4.951-10-11.2C68.3,4.1,73.6,0,81.35,0a24.751,24.751,0,0,1,9.4,1.8V8.9a18.436,18.436,0,0,0-8.8-2.2c-3.7,0-6.1,1.45-6.1,3.75,0,2.1,1.949,3.55,6.85,5.4C89,18.3,92.9,20.951,92.9,27c0,6.5-4.9,10.4-13.4,10.4a28.109,28.109,0,0,1-10.7-2.05" fill="#040405"/>
                        <path id="Tracé_2258" data-name="Tracé 2258" d="M138.3,9.55a21.6,21.6,0,0,0-9.95-2.5c-7.3,0-11.9,5.25-11.9,11.65,0,6.451,4.55,11.651,11.651,11.651a22.8,22.8,0,0,0,10.45-2.5V35a24.84,24.84,0,0,1-11,2.4,18.328,18.328,0,0,1-18.8-18.7C108.747,8.2,116.7,0,127.8,0a22.1,22.1,0,0,1,10.5,2.5Z" fill="#040405"/>
                        <path id="Tracé_2259" data-name="Tracé 2259" d="M162.5,0a18.458,18.458,0,0,1,18.851,18.7,18.852,18.852,0,0,1-37.7,0A18.459,18.459,0,0,1,162.5,0m0,30.352c6.5,0,11.1-5.2,11.1-11.65,0-6.4-4.6-11.651-11.1-11.651S151.4,12.3,151.4,18.7c0,6.45,4.6,11.65,11.1,11.65" fill="#040405"/>
                        <path id="Tracé_2260" data-name="Tracé 2260" d="M198.146,18.1l-1.9-1.649V36.7H188.9V.15h.15l17.151,17.3L223.348.15h.151V36.7h-7.352V16.451l-1.9,1.649c-2.649,2.9-5.351,5.8-8.05,8.651-2.7-2.85-5.351-5.751-8.051-8.651" fill="#040405"/>
                        <path id="Tracé_2261" data-name="Tracé 2261" d="M242.546,18.1l-1.9-1.649V36.7H233.3V.15h.149l17.151,17.3L267.748.15h.15V36.7h-7.351V16.451l-1.9,1.649C256,21,253.3,23.9,250.6,26.751c-2.7-2.85-5.35-5.751-8.05-8.651" fill="#040405"/>
                        <path id="Tracé_2262" data-name="Tracé 2262" d="M321.745.7c8.35,0,13.9,4.15,13.9,11.85A10.534,10.534,0,0,1,328.8,22.8l7.549,13.9H328.2l-6.35-12.6h-5.2V36.7H309.1V.7Zm-5.1,6.45V17.9h5.5c3.4,0,5.75-1.7,5.75-5.351,0-3.6-2.45-5.4-5.951-5.4Z" fill="#040405"/>
                        <path id="Tracé_2263" data-name="Tracé 2263" d="M371.046,9.55a21.6,21.6,0,0,0-9.951-2.5c-7.3,0-11.9,5.25-11.9,11.65a11.238,11.238,0,0,0,11.651,11.651,22.805,22.805,0,0,0,10.451-2.5V35a24.849,24.849,0,0,1-11,2.4,18.327,18.327,0,0,1-18.8-18.7c0-10.5,7.95-18.7,19.051-18.7a22.1,22.1,0,0,1,10.5,2.5Z" fill="#040405"/>
                        <path id="Tracé_2264" data-name="Tracé 2264" d="M408.442,35.352v-7.4a23.587,23.587,0,0,0,9.051,2.6,13.1,13.1,0,0,0,3.2-.2c2.75-.4,4.35-1.45,4.35-3.2,0-2.4-2.15-3.651-7.1-5.45-6.3-2.3-10-4.951-10-11.2,0-6.4,5.3-10.5,13.051-10.5a24.751,24.751,0,0,1,9.4,1.8V8.9a18.436,18.436,0,0,0-8.8-2.2c-3.7,0-6.1,1.45-6.1,3.75,0,2.1,1.949,3.55,6.85,5.4,6.3,2.45,10.2,5.1,10.2,11.151,0,6.5-4.9,10.4-13.4,10.4a28.109,28.109,0,0,1-10.7-2.05" fill="#040405"/>
                        <path id="Tracé_2265" data-name="Tracé 2265" d="M0,157.043v-36H20.8v6.45H7.7v8.2H20.8v6.2H7.7v8.7H20.8v6.45Z" fill="#040405"/>
                        <path id="Tracé_2266" data-name="Tracé 2266" d="M44.2,127.491v29.552H36.5V127.491H26.449v-6.45H54.3v6.45Z" fill="#040405"/>
                        <path id="Tracé_2267" data-name="Tracé 2267" d="M534.021,157.043v-36h20.8v6.45h-13.1v8.2h13.1v6.2h-13.1v8.7h13.1v6.45Z" fill="#040405"/>
                        <rect id="Rectangle_383" data-name="Rectangle 383" width="7.7" height="36.002" transform="translate(71.379 121.041)" fill="#040405"/>
                        <path id="Tracé_2268" data-name="Tracé 2268" d="M118.53,157.593,98.779,138.642l-2.351-2.05v20.451h-7.55V120.491h.3l19.7,18.951,2.3,2.05V121.041h7.6v36.552Z" fill="#040405"/>
                        <path id="Tracé_2269" data-name="Tracé 2269" d="M155.88,129.891a21.6,21.6,0,0,0-9.951-2.5c-7.3,0-11.9,5.25-11.9,11.65a11.238,11.238,0,0,0,11.651,11.651,22.805,22.805,0,0,0,10.451-2.5v7.15a24.849,24.849,0,0,1-11,2.4,18.327,18.327,0,0,1-18.8-18.7c0-10.5,7.95-18.7,19.051-18.7a22.1,22.1,0,0,1,10.5,2.5Z" fill="#040405"/>
                        <path id="Tracé_2270" data-name="Tracé 2270" d="M180.078,120.34a18.7,18.7,0,1,1-18.851,18.7,18.458,18.458,0,0,1,18.851-18.7m0,30.352c6.5,0,11.1-5.2,11.1-11.65,0-6.4-4.6-11.651-11.1-11.651s-11.1,5.25-11.1,11.651c0,6.45,4.6,11.65,11.1,11.65" fill="#040405"/>
                        <path id="Tracé_2271" data-name="Tracé 2271" d="M236.128,157.593l-19.751-18.951-2.351-2.05v20.451h-7.55V120.491h.3l19.7,18.951,2.3,2.05V121.041h7.6v36.552Z" fill="#040405"/>
                        <path id="Tracé_2272" data-name="Tracé 2272" d="M260.526,127.491v29.552h-7.7V127.491H242.775v-6.45h27.852v6.45Z" fill="#040405"/>
                        <path id="Tracé_2273" data-name="Tracé 2273" d="M293.576,120.34a18.7,18.7,0,1,1-18.851,18.7,18.458,18.458,0,0,1,18.851-18.7m0,30.352c6.5,0,11.1-5.2,11.1-11.65,0-6.4-4.6-11.651-11.1-11.651s-11.1,5.25-11.1,11.651c0,6.45,4.6,11.65,11.1,11.65" fill="#040405"/>
                        <path id="Tracé_2274" data-name="Tracé 2274" d="M349.576,143.942c0,8.4-5.55,13.8-15.051,13.8-9.451,0-15.051-5.4-15.051-13.8v-22.9h7.7v22.151c0,4.7,2.65,7.5,7.351,7.5,4.751,0,7.35-2.8,7.35-7.5V121.041h7.7Z" fill="#040405"/>
                        <path id="Tracé_2275" data-name="Tracé 2275" d="M371.524,121.041c8.351,0,13.9,4.15,13.9,11.85a10.533,10.533,0,0,1-6.85,10.251l7.55,13.9h-8.15l-6.351-12.6h-5.2v12.6h-7.55v-36Zm-5.1,6.45v10.751h5.5c3.4,0,5.75-1.7,5.75-5.351,0-3.6-2.449-5.4-5.95-5.4Z" fill="#040405"/>
                        <path id="Tracé_2276" data-name="Tracé 2276" d="M423.175,157.593l-19.751-18.951-2.351-2.05v20.451h-7.55V120.491h.3l19.7,18.951,2.3,2.05V121.041h7.6v36.552Z" fill="#040405"/>
                        <path id="Tracé_2277" data-name="Tracé 2277" d="M496.373,146.541c0,6.9-5.6,10.5-13.7,10.5h-12.7v-36h11.65c7.651,0,13.4,3.35,13.4,10.1a7.514,7.514,0,0,1-4.6,7,8.882,8.882,0,0,1,5.95,8.4m-14.45-10.5a10.759,10.759,0,0,0,2.9-.3,3.93,3.93,0,0,0,2.4-3.951c0-3-2.05-4.6-5.1-4.6h-4.8v8.85Zm-4.6,14.851h5.7c3.05,0,5.45-1.7,5.45-4.851s-2.2-4.8-4.95-4.8h-6.2Z" fill="#040405"/>
                        <path id="Tracé_2278" data-name="Tracé 2278" d="M504.121,157.043v-36h7.7v29.552h13.851v6.45Z" fill="#040405"/>
                        <path id="Tracé_2279" data-name="Tracé 2279" d="M562.219,155.693v-7.4a23.587,23.587,0,0,0,9.052,2.6,13.1,13.1,0,0,0,3.2-.2c2.75-.4,4.35-1.45,4.35-3.2,0-2.4-2.15-3.651-7.1-5.45-6.3-2.3-10-4.951-10-11.2,0-6.4,5.3-10.5,13.052-10.5a24.759,24.759,0,0,1,9.4,1.8v7.1a18.443,18.443,0,0,0-8.8-2.2c-3.7,0-6.1,1.45-6.1,3.75,0,2.1,1.948,3.55,6.849,5.4,6.3,2.45,10.2,5.1,10.2,11.151,0,6.5-4.9,10.4-13.4,10.4a28.109,28.109,0,0,1-10.7-2.05" fill="#040405"/>
                        <path id="Tracé_2280" data-name="Tracé 2280" d="M446.823,120.491h-.3l-17.451,36.552h8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351h8.05Z" fill="#040405"/>
                        <path id="Tracé_2281" data-name="Tracé 2281" d="M52.651,67.141V96.693h-7.7V67.141H34.9v-6.45H62.752v6.45Z" fill="#040405"/>
                        <path id="Tracé_2282" data-name="Tracé 2282" d="M83.5,67.141V96.693H75.8V67.141H65.75v-6.45H93.6v6.45Z" fill="#040405"/>
                        <path id="Tracé_2283" data-name="Tracé 2283" d="M112.649,60.691c8.351,0,13.9,4.15,13.9,11.85a10.533,10.533,0,0,1-6.85,10.251l7.55,13.9H119.1l-6.351-12.6h-5.2v12.6H100v-36Zm-5.1,6.45V77.892h5.5c3.4,0,5.75-1.7,5.75-5.351,0-3.6-2.449-5.4-5.95-5.4Z" fill="#040405"/>
                        <path id="Tracé_2284" data-name="Tracé 2284" d="M197.15,69.541a21.6,21.6,0,0,0-9.951-2.5c-7.3,0-11.9,5.25-11.9,11.65a11.238,11.238,0,0,0,11.651,11.651,22.805,22.805,0,0,0,10.451-2.5v7.15a24.849,24.849,0,0,1-11,2.4,18.327,18.327,0,0,1-18.8-18.7c0-10.5,7.95-18.7,19.051-18.7a22.1,22.1,0,0,1,10.5,2.5Z" fill="#040405"/>
                        <path id="Tracé_2285" data-name="Tracé 2285" d="M219.149,67.141V96.693h-7.7V67.141H201.4v-6.45H229.25v6.45Z" fill="#040405"/>
                        <rect id="Rectangle_384" data-name="Rectangle 384" width="7.7" height="36.002" transform="translate(235.647 60.691)" fill="#040405"/>
                        <path id="Tracé_2286" data-name="Tracé 2286" d="M260.847,67.141v8.6h12v6.35h-12v14.6h-7.7v-36H275.1v6.45Z" fill="#040405"/>
                        <path id="Tracé_2287" data-name="Tracé 2287" d="M280.7,95.343v-7.4a23.587,23.587,0,0,0,9.051,2.6,13.1,13.1,0,0,0,3.2-.2c2.75-.4,4.35-1.45,4.35-3.2,0-2.4-2.15-3.651-7.1-5.45-6.3-2.3-10-4.951-10-11.2,0-6.4,5.3-10.5,13.051-10.5a24.751,24.751,0,0,1,9.4,1.8v7.1a18.436,18.436,0,0,0-8.8-2.2c-3.7,0-6.1,1.45-6.1,3.75,0,2.1,1.949,3.55,6.85,5.4,6.3,2.45,10.2,5.1,10.2,11.151,0,6.5-4.9,10.4-13.4,10.4a28.109,28.109,0,0,1-10.7-2.05" fill="#040405"/>
                        <path id="Tracé_2288" data-name="Tracé 2288" d="M17.751,60.141h-.3L0,96.693H8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351h8.05Z" fill="#040405"/>
                        <path id="Tracé_2289" data-name="Tracé 2289" d="M148.249,60.141h-.3L130.5,96.693h8.049l2.8-6.351,2.349-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351h8.049Z" fill="#040405"/>
                    </svg>
                </span>
                <div class="presentation__text-div">
                    <p>Le Passage Lumière allie <b>convivialité et élégance</b>.<br>
                        Véritable havre de verdure, le Passage Lumière est <b>une parenthèse de sérénité</b> dans l’animation urbaine</p>
                    <p>À taille humaine, ce projet favorise les rencontres et la vie sociale, enrichissant l’expérience de ses visiteurs dans <b>un cadre unique</b>.</p>
                    <p>Il intègre des espaces de stationnement à proximité des boutiques tout en préservant des cheminements piétons agréables.</p>
                </div>
            </div>
        </div>
        <div class="s4-map column__right" style="align-items: center">
            <img alt="marcory map" src="{{ asset('assets/medias/bg/planMasse.png') }}" height="400">
        </div>
    </div>
</section>

<section id="presentation-s5" class="container">
    <div class="d-flex-center">
        <span class="title__prm">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="685" height="50" viewBox="0 0 967.933 61.498">
                <defs>
                <clipPath id="clip-path">
                    <rect id="Rectangle_190" data-name="Rectangle 190" width="967.933" height="61.497" fill="none"/>
                </clipPath>
                </defs>
                <path id="Tracé_1394" data-name="Tracé 1394" d="M104.8,42.952V6.6h20.783v6.515H112.576v8.279H125.8v6.262H112.576v8.784h13.006v6.515Z" transform="translate(106.91 6.73)"/>
                <path id="Tracé_1395" data-name="Tracé 1395" d="M226.9,42.51V6.743h20.448v6.408h-12.8V21.3h13.014v6.159H234.547V36.1h12.8V42.51Z" transform="translate(231.468 6.879)"/>
                <path id="Tracé_1396" data-name="Tracé 1396" d="M282.395,42.51V6.743h20.448v6.408h-12.8V21.3h13.014v6.159H290.045V36.1h12.8V42.51Z" transform="translate(288.085 6.879)"/>
                <path id="Tracé_1397" data-name="Tracé 1397" d="M401.717,42.51V6.743h20.448v6.408h-12.8V21.3h13.014v6.159H409.368V36.1h12.8V42.51Z" transform="translate(409.812 6.879)"/>
                <path id="Tracé_1398" data-name="Tracé 1398" d="M452.216,42.51V6.743h20.448v6.408h-12.8V21.3H472.88v6.159H459.867V36.1h12.8V42.51Z" transform="translate(461.328 6.879)"/>
                <path id="Tracé_1399" data-name="Tracé 1399" d="M34.45,6.323h-.3L16.525,43.233h8.129l2.828-6.412,2.374-5.456c1.515-3.432,3.432-8.279,4.493-10.8,1.111,3.182,2.727,7.018,4.394,10.8l2.321,5.456,2.929,6.412h8.129Z" transform="translate(16.858 6.45)"/>
                <path id="Tracé_1400" data-name="Tracé 1400" d="M70.149,6.323h-.3L52.224,43.233h8.129l2.828-6.412,2.374-5.456c1.515-3.432,3.432-8.279,4.493-10.8,1.111,3.182,2.727,7.018,4.394,10.8l2.321,5.456,2.929,6.412h8.129Z" transform="translate(53.276 6.45)"/>
                <path id="Tracé_1401" data-name="Tracé 1401" d="M29.84,15.892a21.82,21.82,0,0,0-10.048-2.525c-7.372,0-12.016,5.3-12.016,11.763,0,6.515,4.594,11.765,11.763,11.765a23,23,0,0,0,10.553-2.525v7.222a25.088,25.088,0,0,1-11.109,2.422A18.5,18.5,0,0,1,0,25.13C0,14.529,8.028,6.248,19.236,6.248a22.309,22.309,0,0,1,10.6,2.525Z" transform="translate(0 6.373)"/>
                <path id="Tracé_1402" data-name="Tracé 1402" d="M49.748,6.6c8.432,0,14.038,4.194,14.038,11.967a10.636,10.636,0,0,1-6.919,10.351l7.626,14.036H56.259L49.847,30.229H44.6V42.952H36.975V6.6ZM44.6,13.112V23.968h5.555c3.432,0,5.806-1.717,5.806-5.4,0-3.636-2.477-5.452-6.012-5.452Z" transform="translate(37.72 6.729)"/>
                <path id="Tracé_1403" data-name="Tracé 1403" d="M100.614,15.892a21.82,21.82,0,0,0-10.048-2.525c-7.372,0-12.016,5.3-12.016,11.763,0,6.515,4.594,11.765,11.763,11.765a23,23,0,0,0,10.553-2.525v7.222a25.088,25.088,0,0,1-11.109,2.422A18.5,18.5,0,0,1,70.774,25.13c0-10.6,8.028-18.882,19.236-18.882a22.309,22.309,0,0,1,10.6,2.525Z" transform="translate(72.2 6.373)"/>
                <path id="Tracé_1404" data-name="Tracé 1404" d="M105.6,13.112v29.84H97.823V13.112H87.674V6.6H115.8v6.515Z" transform="translate(89.441 6.729)"/>
                <path id="Tracé_1405" data-name="Tracé 1405" d="M112.191,0h9.291l-7.776,10.248H107.6Z" transform="translate(109.766 -0.001)"/>
                <path id="Tracé_1406" data-name="Tracé 1406" d="M133.273,6.6c8.43,0,14.036,4.194,14.036,11.967a10.631,10.631,0,0,1-6.917,10.351l7.624,14.036h-8.23l-6.414-12.723h-5.25V42.952H120.5V6.6Zm-5.151,6.515V23.968h5.555c3.432,0,5.806-1.717,5.806-5.4,0-3.636-2.475-5.452-6.008-5.452Z" transform="translate(122.926 6.729)"/>
                <rect id="Rectangle_188" data-name="Rectangle 188" width="7.776" height="36.355" transform="translate(278.423 13.327)"/>
                <path id="Tracé_1407" data-name="Tracé 1407" d="M146,41.946V34.474a23.815,23.815,0,0,0,9.139,2.626,13.236,13.236,0,0,0,3.232-.2c2.778-.4,4.392-1.467,4.392-3.232,0-2.424-2.17-3.687-7.17-5.5-6.361-2.323-10.1-5-10.1-11.311,0-6.462,5.351-10.6,13.177-10.6a24.991,24.991,0,0,1,9.495,1.818v7.17a18.615,18.615,0,0,0-8.887-2.22c-3.737,0-6.161,1.463-6.161,3.786,0,2.121,1.97,3.584,6.919,5.452,6.361,2.477,10.3,5.151,10.3,11.26,0,6.563-4.947,10.5-13.531,10.5A28.359,28.359,0,0,1,146,41.946" transform="translate(148.43 6.373)"/>
                <path id="Tracé_1408" data-name="Tracé 1408" d="M177.647,13.112v29.84h-7.776V13.112H159.722V6.6h28.125v6.515Z" transform="translate(162.941 6.729)"/>
                <rect id="Rectangle_189" data-name="Rectangle 189" width="7.776" height="36.355" transform="translate(357.258 13.327)"/>
                <path id="Tracé_1409" data-name="Tracé 1409" d="M203.681,6.248a18.64,18.64,0,0,1,19.036,18.884,18.248,18.248,0,0,1-13.331,17.975,19.637,19.637,0,0,0,13.482,5.149,34.761,34.761,0,0,0,5.907-.554v6.763a29.9,29.9,0,0,1-6.563.657,25.475,25.475,0,0,1-21.1-11.309,18.427,18.427,0,0,1-16.46-18.682A18.637,18.637,0,0,1,203.681,6.248m0,30.65c6.565,0,11.159-5.252,11.159-11.765,0-6.462-4.594-11.763-11.159-11.763s-11.208,5.3-11.208,11.763c0,6.513,4.644,11.765,11.208,11.765" transform="translate(188.368 6.373)"/>
                <path id="Tracé_1410" data-name="Tracé 1410" d="M237.592,29.723c0,8.483-5.6,13.935-15.2,13.935-9.543,0-15.2-5.452-15.2-13.935V6.6h7.776V28.967c0,4.745,2.675,7.574,7.422,7.574,4.8,0,7.422-2.828,7.422-7.574V6.6h7.776Z" transform="translate(211.372 6.73)"/>
                <path id="Tracé_1411" data-name="Tracé 1411" d="M242.026,41.946V34.474a23.814,23.814,0,0,0,9.139,2.626,13.237,13.237,0,0,0,3.232-.2c2.778-.4,4.392-1.467,4.392-3.232,0-2.424-2.17-3.687-7.17-5.5-6.361-2.323-10.1-5-10.1-11.311,0-6.462,5.351-10.6,13.178-10.6a24.991,24.991,0,0,1,9.495,1.818v7.17a18.615,18.615,0,0,0-8.887-2.22c-3.737,0-6.162,1.463-6.162,3.786,0,2.121,1.97,3.584,6.919,5.452,6.361,2.477,10.3,5.151,10.3,11.26,0,6.563-4.947,10.5-13.531,10.5a28.359,28.359,0,0,1-10.806-2.069" transform="translate(246.388 6.373)"/>
                <path id="Tracé_1412" data-name="Tracé 1412" d="M262.87,42.952V6.6h11.614c12.369,0,20.2,7.525,20.2,18.177S286.9,42.952,274.585,42.952Zm7.776-29.84V36.439h3.838c7.775,0,12.369-5.048,12.369-11.664,0-6.563-4.594-11.662-12.47-11.662Z" transform="translate(268.167 6.729)"/>
                <path id="Tracé_1413" data-name="Tracé 1413" d="M297.525,41.946V34.474a23.815,23.815,0,0,0,9.139,2.626,13.244,13.244,0,0,0,3.232-.2c2.776-.4,4.392-1.467,4.392-3.232,0-2.424-2.17-3.687-7.169-5.5-6.361-2.323-10.1-5-10.1-11.311,0-6.462,5.351-10.6,13.177-10.6a24.992,24.992,0,0,1,9.495,1.818v7.17a18.612,18.612,0,0,0-8.889-2.22c-3.735,0-6.159,1.463-6.159,3.786,0,2.121,1.97,3.584,6.917,5.452,6.364,2.477,10.3,5.151,10.3,11.26,0,6.563-4.947,10.5-13.531,10.5a28.368,28.368,0,0,1-10.806-2.069" transform="translate(303.005 6.373)"/>
                <path id="Tracé_1414" data-name="Tracé 1414" d="M347.084,15.892a21.806,21.806,0,0,0-10.048-2.525c-7.37,0-12.016,5.3-12.016,11.763,0,6.515,4.6,11.765,11.763,11.765a22.981,22.981,0,0,0,10.553-2.525v7.222a25.077,25.077,0,0,1-11.107,2.422A18.505,18.505,0,0,1,317.244,25.13c0-10.6,8.028-18.882,19.238-18.882a22.3,22.3,0,0,1,10.6,2.525Z" transform="translate(323.636 6.373)"/>
                <path id="Tracé_1415" data-name="Tracé 1415" d="M353.73,6.248a18.64,18.64,0,0,1,19.036,18.884,19.037,19.037,0,0,1-38.072,0A18.638,18.638,0,0,1,353.73,6.248m0,30.65c6.563,0,11.21-5.252,11.21-11.765,0-6.462-4.646-11.763-11.21-11.763s-11.21,5.3-11.21,11.763c0,6.513,4.646,11.765,11.21,11.765" transform="translate(341.438 6.373)"/>
                <path id="Tracé_1416" data-name="Tracé 1416" d="M366.659,24.45l-1.917-1.665V43.233h-7.424V6.323h.152l17.319,17.47,17.319-17.47h.152v36.91h-7.422V22.785l-1.919,1.665c-2.675,2.929-5.4,5.856-8.129,8.735-2.725-2.879-5.4-5.806-8.129-8.735" transform="translate(364.518 6.45)"/>
                <path id="Tracé_1417" data-name="Tracé 1417" d="M388.859,24.45l-1.917-1.665V43.233h-7.424V6.323h.151l17.319,17.47,17.319-17.47h.151v36.91h-7.422V22.785l-1.919,1.665c-2.675,2.929-5.4,5.856-8.129,8.735-2.725-2.879-5.4-5.806-8.129-8.735" transform="translate(387.165 6.45)"/>
                <path id="Tracé_1418" data-name="Tracé 1418" d="M430.193,6.6c8.432,0,14.036,4.194,14.036,11.967a10.633,10.633,0,0,1-6.919,10.351l7.626,14.036H436.7l-6.41-12.723h-5.252V42.952h-7.624V6.6Zm-5.151,6.515V23.968H430.6c3.434,0,5.808-1.717,5.808-5.4,0-3.636-2.477-5.452-6.01-5.452Z" transform="translate(425.829 6.729)"/>
                <path id="Tracé_1419" data-name="Tracé 1419" d="M463.457,15.892a21.807,21.807,0,0,0-10.048-2.525c-7.37,0-12.016,5.3-12.016,11.763,0,6.515,4.6,11.765,11.763,11.765a22.981,22.981,0,0,0,10.553-2.525v7.222A25.078,25.078,0,0,1,452.6,44.015,18.505,18.505,0,0,1,433.617,25.13c0-10.6,8.028-18.882,19.238-18.882a22.3,22.3,0,0,1,10.6,2.525Z" transform="translate(442.354 6.373)"/>
                <path id="Tracé_1420" data-name="Tracé 1420" d="M467.347,41.946V34.474a23.8,23.8,0,0,0,9.137,2.626,13.23,13.23,0,0,0,3.232-.2c2.778-.4,4.394-1.467,4.394-3.232,0-2.424-2.172-3.687-7.169-5.5-6.362-2.323-10.1-5-10.1-11.311,0-6.462,5.351-10.6,13.178-10.6a24.97,24.97,0,0,1,9.493,1.818v7.17a18.609,18.609,0,0,0-8.887-2.22c-3.735,0-6.161,1.463-6.161,3.786,0,2.121,1.972,3.584,6.919,5.452,6.363,2.477,10.3,5.151,10.3,11.26,0,6.563-4.947,10.5-13.531,10.5a28.359,28.359,0,0,1-10.806-2.069" transform="translate(476.249 6.373)"/>
            </svg>
        </span>
    </div>
    <div class="d-flex-center">
        <div class="grid-wrapper">
            <div class="grid-item">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" height="55.809" viewBox="0 0 59.923 55.809">
                    <defs>
                    <clipPath id="clip-path">
                        <rect id="Rectangle_224" data-name="Rectangle 224" width="59.923" height="55.809" fill="none"/>
                    </clipPath>
                    </defs>
                    <g id="Groupe_998" data-name="Groupe 998" transform="translate(0 0)">
                    <g id="Groupe_304" data-name="Groupe 304" transform="translate(0 0)" clip-path="url(#clip-path)">
                        <path id="Tracé_1652" data-name="Tracé 1652" d="M57.922,51.107H9.283v2.727H57.922ZM17.214,47.534c-.808.244-.654,1.642.293,1.528,1.141-.14.647-1.814-.293-1.528m-2.379-.022H11.091c.272.334-.1,1.611.182,1.611h3.562a3.416,3.416,0,0,1,0-1.611m-6.429.02c-.917.168-.78,1.646.17,1.529,1.008-.124.875-1.721-.17-1.529M43.078,34.865H34.627V49.124h8.451Zm-10.38,0h-8.57V49.124h8.389a1.34,1.34,0,0,0,.18-.186Zm-13.821-.248H5.42l1.706,7.795H17.6c.547-2.472,1.2-4.958,1.564-7.456a.834.834,0,0,0-.283-.339m25.288-2.6H23.04v.868H44.164Zm9.049-5.33H51.224a9.674,9.674,0,0,1-1.455-.368,7.5,7.5,0,0,1-3.735-2.853,7.587,7.587,0,0,1-12.434,0,7.582,7.582,0,0,1-12.429,0,7.512,7.512,0,0,1-3.739,2.853,9.634,9.634,0,0,1-1.451.368H13.989v5.95h5.128a5.274,5.274,0,0,1,.707.268,2.383,2.383,0,0,1,1.291,2.279c-.062,2.492-1.518,5.8-1.752,8.369a1.054,1.054,0,0,1-1.083.87c-3.735.354-8.136-.414-11.836-.005-.88.1-.9,1.014-.126,1.121l11.658.051a2.848,2.848,0,0,1,2.049,3.538H22.2V34.865c0-.069-.88.124-1.063-.707a20.339,20.339,0,0,1,.029-3.515c.1-.315.394-.43.667-.554l23.45-.029c.348.131.7.27.786.68a17.868,17.868,0,0,1-.064,3.6c-.264.636-1,.468-1,.527V49.124h8.2Zm4.105-5.456H47.181c1.291,4.63,8.828,4.652,10.137,0m-12.431,0H34.749c1.292,4.639,8.843,4.641,10.139,0m-12.432,0H22.318c1.292,4.639,8.843,4.641,10.137,0m-12.431,0H9.886c1.311,4.652,8.845,4.63,10.139,0m36.688-1.983L50.74,9.078H43.8l2.9,10.166ZM41.749,9.078h-7.12V19.244H44.644Zm-9.051,0H25.456l-2.9,10.166h9.959a1.34,1.34,0,0,0,.18-.186Zm-9.293,0H16.463L10.488,19.244H20.508ZM50.441,7.095V2.568c0-.348-.715-.607-1.024-.561L17.546,2c-.33-.111-1.021.4-1.021.687v4.4Zm8.387,42.029a1.52,1.52,0,0,1,1,1.207,24.79,24.79,0,0,1,.029,4.065,1.571,1.571,0,0,1-1.4,1.413l-49.9-.044a1.55,1.55,0,0,1-1.145-1.057c-.261-1.035.2-3.068-.077-3.89-.044-.129-1.006-.733-1.274-1.415-.288-.726-.038-1.422-.168-1.812-.058-.186-.7-.355-.944-.521a2.564,2.564,0,0,1,.244-4.35L2.538,30.6c-.2-.3-1.688.314-2.31-.5a.932.932,0,0,1,.45-1.526,15.284,15.284,0,0,1,3.05.038c.716.306,1.006,3.228,1.209,4.027h7.122V26.25c-2.4-1.214-4.552-3.451-4.2-6.422L14.54,8.464C15.016,6.03,13.417,1.141,16.5.186,27.519-.186,38.612.136,49.66.022,53.7.381,52,5.217,52.4,7.993l6.964,11.94c.273,2.933-1.838,5.113-4.216,6.316V48.938a1.256,1.256,0,0,0,.182.186,26.054,26.054,0,0,1,3.5,0" transform="translate(0 0.001)" fill="#48a23e"/>
                        <path id="Tracé_1653" data-name="Tracé 1653" d="M57.922,51.107H9.283v2.727H57.922ZM17.214,47.534c-.808.244-.654,1.642.293,1.528,1.141-.14.647-1.814-.293-1.528m-2.379-.022H11.091c.272.334-.1,1.611.182,1.611h3.562a3.416,3.416,0,0,1,0-1.611m-6.429.02c-.917.168-.78,1.646.17,1.529,1.008-.124.875-1.721-.17-1.529M43.078,34.865H34.627V49.124h8.451Zm-10.38,0h-8.57V49.124h8.389a1.34,1.34,0,0,0,.18-.186Zm-13.821-.248H5.42l1.706,7.795H17.6c.547-2.472,1.2-4.958,1.564-7.456a.834.834,0,0,0-.283-.339m25.288-2.6H23.04v.868H44.164Zm9.049-5.33H51.224a9.674,9.674,0,0,1-1.455-.368,7.5,7.5,0,0,1-3.735-2.853,7.587,7.587,0,0,1-12.434,0,7.582,7.582,0,0,1-12.429,0,7.512,7.512,0,0,1-3.739,2.853,9.634,9.634,0,0,1-1.451.368H13.989v5.95h5.128a5.274,5.274,0,0,1,.707.268,2.383,2.383,0,0,1,1.291,2.279c-.062,2.492-1.518,5.8-1.752,8.369a1.054,1.054,0,0,1-1.083.87c-3.735.354-8.136-.414-11.836-.005-.88.1-.9,1.014-.126,1.121l11.658.051a2.848,2.848,0,0,1,2.049,3.538H22.2V34.865c0-.069-.88.124-1.063-.707a20.339,20.339,0,0,1,.029-3.515c.1-.315.394-.43.667-.554l23.45-.029c.348.131.7.27.786.68a17.868,17.868,0,0,1-.064,3.6c-.264.636-1,.468-1,.527V49.124h8.2Zm4.105-5.456H47.181c1.291,4.63,8.828,4.652,10.137,0m-12.431,0H34.749c1.292,4.639,8.843,4.641,10.139,0m-12.432,0H22.318c1.292,4.639,8.843,4.641,10.137,0m-12.431,0H9.886c1.311,4.652,8.845,4.63,10.139,0m36.688-1.983L50.74,9.078H43.8l2.9,10.166ZM41.749,9.078h-7.12V19.244H44.644Zm-9.051,0H25.456l-2.9,10.166h9.959a1.34,1.34,0,0,0,.18-.186Zm-9.293,0H16.463L10.488,19.244H20.508ZM50.441,7.095V2.568c0-.348-.715-.607-1.024-.561L17.546,2c-.33-.111-1.021.4-1.021.687v4.4Zm8.387,42.029a1.52,1.52,0,0,1,1,1.207,24.79,24.79,0,0,1,.029,4.065,1.571,1.571,0,0,1-1.4,1.413l-49.9-.044a1.55,1.55,0,0,1-1.145-1.057c-.261-1.035.2-3.068-.077-3.89-.044-.129-1.006-.733-1.274-1.415-.288-.726-.038-1.422-.168-1.812-.058-.186-.7-.355-.944-.521a2.564,2.564,0,0,1,.244-4.35L2.538,30.6c-.2-.3-1.688.314-2.31-.5a.932.932,0,0,1,.45-1.526,15.284,15.284,0,0,1,3.05.038c.716.306,1.006,3.228,1.209,4.027h7.122V26.25c-2.4-1.214-4.552-3.451-4.2-6.422L14.54,8.464C15.016,6.03,13.417,1.141,16.5.186,27.519-.186,38.612.136,49.66.022,53.7.381,52,5.217,52.4,7.993l6.964,11.94c.273,2.933-1.838,5.113-4.216,6.316V48.938a1.256,1.256,0,0,0,.182.186,26.054,26.054,0,0,1,3.5,0" transform="translate(0 0.001)" fill="#48a23e"/>
                        <path id="Tracé_1654" data-name="Tracé 1654" d="M12.348,2.011l8.059-.022c1.092.5.766,1.8-.37,1.969a46.8,46.8,0,0,1-7.221,0,1.029,1.029,0,0,1-.468-1.947" transform="translate(9.693 1.637)" fill="#48a23e"/>
                        <path id="Tracé_1655" data-name="Tracé 1655" d="M12.348,2.011l8.059-.022c1.092.5.766,1.8-.37,1.969a46.8,46.8,0,0,1-7.221,0,1.029,1.029,0,0,1-.468-1.947" transform="translate(9.693 1.637)" fill="#48a23e"/>
                        <path id="Tracé_1656" data-name="Tracé 1656" d="M20.557,2.011l8.059-.022c1.092.5.766,1.8-.37,1.969a46.8,46.8,0,0,1-7.221,0,1.029,1.029,0,0,1-.468-1.947" transform="translate(16.448 1.637)" fill="#48a23e"/>
                        <path id="Tracé_1657" data-name="Tracé 1657" d="M20.557,2.011l8.059-.022c1.092.5.766,1.8-.37,1.969a46.8,46.8,0,0,1-7.221,0,1.029,1.029,0,0,1-.468-1.947" transform="translate(16.448 1.637)" fill="#48a23e"/>
                        <path id="Tracé_1658" data-name="Tracé 1658" d="M17.763,21.806a.993.993,0,0,1,1.185,1.345c-.623.769-1.91,4.02-2.716,4.28-.835.27-1.373-.492-1.156-1.314a41.2,41.2,0,0,1,2.182-3.958.919.919,0,0,1,.5-.354" transform="translate(12.367 17.92)" fill="#48a23e"/>
                        <path id="Tracé_1659" data-name="Tracé 1659" d="M16.584,21.2a.992.992,0,0,1,1.309,1.218L15.585,26.5c-.917.713-1.87.115-1.564-1.112a36.865,36.865,0,0,1,2.016-3.631c.129-.173.348-.492.547-.554" transform="translate(11.49 17.408)" fill="#48a23e"/>
                        <path id="Tracé_1660" data-name="Tracé 1660" d="M22.393,21.2c.9-.211,1.427.447,1.185,1.342a42.23,42.23,0,0,1-2.116,3.777.969.969,0,0,1-1.755-.808l2.184-3.961a.876.876,0,0,1,.5-.35" transform="translate(16.183 17.413)" fill="#48a23e"/>
                        <path id="Tracé_1661" data-name="Tracé 1661" d="M23.569,21.8c.853-.18,1.362.684,1.065,1.473l-2.24,3.9a.979.979,0,0,1-1.635-.932,36.135,36.135,0,0,1,2.188-3.958,1.228,1.228,0,0,1,.623-.483" transform="translate(17.06 17.922)" fill="#48a23e"/>
                    </g>
                    </g>
                </svg>
                <h3>+ 870 M²</h3>
                <span>De commerces de plain pied</span>
            </div>
            <div class="grid-item">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" height="54.129" viewBox="0 0 54.129 54.129">
                    <defs>
                    <clipPath id="clip-path">
                        <rect id="Rectangle_226" data-name="Rectangle 226" width="54.129" height="54.129" fill="none"/>
                    </clipPath>
                    </defs>
                    <g id="Groupe_1000" data-name="Groupe 1000" transform="translate(0 0)">
                    <g id="Groupe_308" data-name="Groupe 308" transform="translate(0 0)" clip-path="url(#clip-path)">
                        <path id="Tracé_1668" data-name="Tracé 1668" d="M39.33,0a2.282,2.282,0,0,1,1.162,1.162v.845a1.828,1.828,0,0,1-1.424,1.166L19.621,3.164A1.63,1.63,0,0,1,19.457,0Z" transform="translate(13.636 -0.001)" fill="#48a23e"/>
                        <path id="Tracé_1669" data-name="Tracé 1669" d="M40.492,30.358V31.2a1.831,1.831,0,0,1-1.424,1.166l-19.247,0a1.592,1.592,0,0,1,0-3.182l19.247,0a1.831,1.831,0,0,1,1.424,1.166" transform="translate(13.637 21.759)" fill="#48a23e"/>
                        <path id="Tracé_1670" data-name="Tracé 1670" d="M21.039,0a1.624,1.624,0,0,1-.365,3.178L1.33,3.164A1.63,1.63,0,0,1,1.166,0Z" transform="translate(0.002 -0.001)" fill="#48a23e"/>
                        <path id="Tracé_1671" data-name="Tracé 1671" d="M16.635,0c.52.3,1.007.586,1.138,1.241A23.951,23.951,0,0,1,17.8,5.023a1.6,1.6,0,0,1-3.177,0,24.168,24.168,0,0,1,.024-3.782C14.783.586,15.268.3,15.79,0Z" transform="translate(10.855 -0.001)" fill="#48a23e"/>
                        <path id="Tracé_1672" data-name="Tracé 1672" d="M19.034,37a9.479,9.479,0,0,1-2.084,1.138c-2,.693-7.148.59-9.39.452A8.345,8.345,0,0,1,3.177,37v3.54c0,.417.946,1.25,1.426,1.218l13.272-.052a2.045,2.045,0,0,0,1.159-1.166ZM9.71,19.588a11.2,11.2,0,0,0-6.477,2.189l-.059,9.148A4.811,4.811,0,0,0,6.6,35.218c1.384.4,6.222.312,7.844.2a4.809,4.809,0,0,0,4.6-4.493l-.024-9.073c-2.349-2.1-6.257-2.466-9.3-2.264M5.132,13.213c-.532.11-1.379-.08-1.955,0V17.97a20.265,20.265,0,0,1,15.857,0V13.213H17.079a3.9,3.9,0,0,1-.843-.532,1.642,1.642,0,0,1,.223-2.306,3.213,3.213,0,0,1,2.046-.333c-.976-1.927-3.538-2.782-5.564-3.053-3.016-.4-7.6.147-9.235,3.053,1.046-.093,2.365,0,2.618,1.239a1.714,1.714,0,0,1-1.192,1.932M9.921,3.731c5.289-.389,11.9,1.8,12.29,7.945l-.019,28.957A4.793,4.793,0,0,1,18,44.9c-4.224.48-9.2-.3-13.506.031A4.793,4.793,0,0,1,.033,40.721L0,11.571c.386-5.2,5.269-7.5,9.921-7.84" transform="translate(0 2.748)" fill="#48a23e"/>
                        <path id="Tracé_1673" data-name="Tracé 1673" d="M23.223,18.692h6.819a5.928,5.928,0,0,0,1.075-.4,3.187,3.187,0,0,0,0-5.535,5.815,5.815,0,0,0-1.075-.4H23.223Zm0,3.171v8.3a3.813,3.813,0,0,1-.532.841,1.626,1.626,0,0,1-2.632-.951l-.01-19.346a1.613,1.613,0,0,1,1.428-1.529c3.344.374,8.261-.827,11.227.829a6.366,6.366,0,0,1,.766,10.527,7.614,7.614,0,0,1-3.11,1.332Z" transform="translate(14.944 6.783)" fill="#48a23e"/>
                        <path id="Tracé_1674" data-name="Tracé 1674" d="M1.243,29.217l19.535-.026a1.6,1.6,0,0,1,0,3.177H1.428a1.6,1.6,0,0,1-.185-3.15" transform="translate(0.002 21.759)" fill="#48a23e"/>
                        <path id="Tracé_1675" data-name="Tracé 1675" d="M15.865,27.343a1.629,1.629,0,0,1,1.936,1.4,24,24,0,0,1-.028,3.786,1.6,1.6,0,0,1-3.151-.185,24.4,24.4,0,0,1,.026-3.784,1.7,1.7,0,0,1,1.217-1.217" transform="translate(10.855 20.357)" fill="#48a23e"/>
                        <path id="Tracé_1676" data-name="Tracé 1676" d="M15.865,5.539a1.629,1.629,0,0,1,1.936,1.4,23.487,23.487,0,0,1-.028,3.679,1.6,1.6,0,0,1-3.151-.185,23.468,23.468,0,0,1,.026-3.678,1.7,1.7,0,0,1,1.217-1.217" transform="translate(10.856 4.104)" fill="#48a23e"/>
                        <path id="Tracé_1677" data-name="Tracé 1677" d="M15.865,10.99a1.627,1.627,0,0,1,1.936,1.4,23.487,23.487,0,0,1-.028,3.679,1.6,1.6,0,0,1-3.151-.185,23.468,23.468,0,0,1,.026-3.678,1.7,1.7,0,0,1,1.217-1.217" transform="translate(10.856 8.167)" fill="#48a23e"/>
                        <path id="Tracé_1678" data-name="Tracé 1678" d="M15.865,16.441a1.629,1.629,0,0,1,1.936,1.4,23.487,23.487,0,0,1-.028,3.679,1.6,1.6,0,0,1-3.151-.185,23.468,23.468,0,0,1,.026-3.678,1.7,1.7,0,0,1,1.217-1.217" transform="translate(10.856 12.23)" fill="#48a23e"/>
                        <path id="Tracé_1679" data-name="Tracé 1679" d="M15.865,21.892a1.629,1.629,0,0,1,1.936,1.4,23.487,23.487,0,0,1-.028,3.679,1.6,1.6,0,0,1-3.151-.185,23.468,23.468,0,0,1,.026-3.678,1.7,1.7,0,0,1,1.217-1.217" transform="translate(10.856 16.294)" fill="#48a23e"/>
                    </g>
                    </g>
                </svg>          
                <h3>+ 50 Places <br>de parking</h3>
            </div>
            <div class="grid-item">
                <svg id="Groupe_999" data-name="Groupe 999" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47.885" height="55.809" viewBox="0 0 47.885 55.809">
                    <defs>
                    <clipPath id="clip-path">
                        <rect id="Rectangle_225" data-name="Rectangle 225" width="47.885" height="55.809" fill="none"/>
                    </clipPath>
                    </defs>
                    <g id="Groupe_306" data-name="Groupe 306" transform="translate(0 0)" clip-path="url(#clip-path)">
                    <path id="Tracé_1662" data-name="Tracé 1662" d="M28.647,54.173a2.365,2.365,0,0,0-1.791-1.806,30.458,30.458,0,0,0-5.35-.052,2.345,2.345,0,0,0-2.241,1.858ZM32.539,34H29.744l.387,1.789a7,7,0,0,0,2.014.015ZM18.167,34H15.373l.394,1.8a7,7,0,0,0,2.014-.015ZM45.613,12.084H36.731c-.014.215.158.365.261.532.394.638.842,1.249,1.58,1.328a32.467,32.467,0,0,0,5.371-.03c.775-.155,1.271-1.173,1.669-1.829m-34.432,0H2.3c.4.656.895,1.674,1.669,1.829a32.468,32.468,0,0,0,5.371.03,1.289,1.289,0,0,0,.845-.385c.157-.133,1.118-1.36,1-1.474m34.033-1.636A30.9,30.9,0,0,0,29.795,2.161L32.042,4.5a34.448,34.448,0,0,1,3.64,5.945Zm-42.515,0h9.531A34.226,34.226,0,0,1,15.869,4.5l2.247-2.342A30.969,30.969,0,0,0,2.7,10.448m11.577,1.636c.483.678.882,1.708,1.756,1.844l15.76.01a1.541,1.541,0,0,0,.947-.493,21.893,21.893,0,0,0,1.41-2.063.449.449,0,0,0,.075-.308,12.3,12.3,0,0,0-.806-1.641C30.683,4.217,25.861-.713,20.1,2.8c-2.73,1.663-4.647,4.725-6.121,7.651H31.291c.269,0,.632.5.638.816.006.271-.3.82-.538.82Zm3.792,43.725c-1.024-.814-.126-2.884.547-3.709a4.512,4.512,0,0,1,2.4-1.415h2.146V40.979H17.419c-.507,0-1.039-1.452.006-1.629H34.889c.1.024.344-.079.344-.17V37.49H12.678V39.18c0,.39,1.865-.1,2.243.385a.888.888,0,0,1-.5,1.408c-.792.136-2.361.106-2.884-.655a5.024,5.024,0,0,1-.055-3.756,2.7,2.7,0,0,1,.849-.708h1.846c.022-.957-1.336-3.339.143-3.5a32.216,32.216,0,0,1,4.8,0c1.553.156.2,2.472.244,3.5h3.792V15.574H15.721a4.534,4.534,0,0,1-1.448-.818c-.34-.326-1.33-2.018-1.447-2.019-.244,0-.845,1.106-1.05,1.361a3.339,3.339,0,0,1-1.988,1.427,31.445,31.445,0,0,1-6.338-.067,3.233,3.233,0,0,1-.987-.557A20.29,20.29,0,0,1,.08,11.618a.821.821,0,0,1,0-.705A16.242,16.242,0,0,1,2,8.867a31.655,31.655,0,0,1,44.815.872c.472.491,1.287,1.111,1.019,1.88a26.2,26.2,0,0,1-1.822,2.7,3.2,3.2,0,0,1-1.55,1.141,30.812,30.812,0,0,1-6.5.022A3.475,3.475,0,0,1,36.134,14.1c-.183-.227-.849-1.415-1.05-1.36-.112.032-1.124,1.708-1.447,2.018a4.534,4.534,0,0,1-1.448.818H24.754V35.855h3.792c.048-1.023-1.308-3.339.244-3.5a32.216,32.216,0,0,1,4.8,0c1.46.151.12,2.591.143,3.5h1.846c.237,0,.889.7,1,.981.3.777.271,2.948-.294,3.6a2.869,2.869,0,0,1-.9.54H24.754v9.706H27c.842,0,2.29,1.244,2.726,2.036s.995,2.475.118,3.088Z" transform="translate(0 0)" fill="#48a23e"/>
                    <path id="Tracé_1663" data-name="Tracé 1663" d="M28.647,54.173a2.365,2.365,0,0,0-1.791-1.806,30.458,30.458,0,0,0-5.35-.052,2.345,2.345,0,0,0-2.241,1.858ZM32.539,34H29.744l.387,1.789a7,7,0,0,0,2.014.015ZM18.167,34H15.373l.394,1.8a7,7,0,0,0,2.014-.015ZM45.613,12.084H36.731c-.014.215.158.365.261.532.394.638.842,1.249,1.58,1.328a32.467,32.467,0,0,0,5.371-.03c.775-.155,1.271-1.173,1.669-1.829m-34.432,0H2.3c.4.656.895,1.674,1.669,1.829a32.468,32.468,0,0,0,5.371.03,1.289,1.289,0,0,0,.845-.385c.157-.133,1.118-1.36,1-1.474m34.033-1.636A30.9,30.9,0,0,0,29.795,2.161L32.042,4.5a34.448,34.448,0,0,1,3.64,5.945Zm-42.515,0h9.531A34.226,34.226,0,0,1,15.869,4.5l2.247-2.342A30.969,30.969,0,0,0,2.7,10.448m11.577,1.636c.483.678.882,1.708,1.756,1.844l15.76.01a1.541,1.541,0,0,0,.947-.493,21.893,21.893,0,0,0,1.41-2.063.449.449,0,0,0,.075-.308,12.3,12.3,0,0,0-.806-1.641C30.683,4.217,25.861-.713,20.1,2.8c-2.73,1.663-4.647,4.725-6.121,7.651H31.291c.269,0,.632.5.638.816.006.271-.3.82-.538.82Zm3.792,43.725c-1.024-.814-.126-2.884.547-3.709a4.512,4.512,0,0,1,2.4-1.415h2.146V40.979H17.419c-.507,0-1.039-1.452.006-1.629H34.889c.1.024.344-.079.344-.17V37.49H12.678V39.18c0,.39,1.865-.1,2.243.385a.888.888,0,0,1-.5,1.408c-.792.136-2.361.106-2.884-.655a5.024,5.024,0,0,1-.055-3.756,2.7,2.7,0,0,1,.849-.708h1.846c.022-.957-1.336-3.339.143-3.5a32.216,32.216,0,0,1,4.8,0c1.553.156.2,2.472.244,3.5h3.792V15.574H15.721a4.534,4.534,0,0,1-1.448-.818c-.34-.326-1.33-2.018-1.447-2.019-.244,0-.845,1.106-1.05,1.361a3.339,3.339,0,0,1-1.988,1.427,31.445,31.445,0,0,1-6.338-.067,3.233,3.233,0,0,1-.987-.557A20.29,20.29,0,0,1,.08,11.618a.821.821,0,0,1,0-.705A16.242,16.242,0,0,1,2,8.867a31.655,31.655,0,0,1,44.815.872c.472.491,1.287,1.111,1.019,1.88a26.2,26.2,0,0,1-1.822,2.7,3.2,3.2,0,0,1-1.55,1.141,30.812,30.812,0,0,1-6.5.022A3.475,3.475,0,0,1,36.134,14.1c-.183-.227-.849-1.415-1.05-1.36-.112.032-1.124,1.708-1.447,2.018a4.534,4.534,0,0,1-1.448.818H24.754V35.855h3.792c.048-1.023-1.308-3.339.244-3.5a32.216,32.216,0,0,1,4.8,0c1.46.151.12,2.591.143,3.5h1.846c.237,0,.889.7,1,.981.3.777.271,2.948-.294,3.6a2.869,2.869,0,0,1-.9.54H24.754v9.706H27c.842,0,2.29,1.244,2.726,2.036s.995,2.475.118,3.088Z" transform="translate(0 0)" fill="#48a23e"/>
                    <path id="Tracé_1664" data-name="Tracé 1664" d="M29.938,30.8H22.353v1.854H29.19c.5,0,.873-1.4.747-1.854M21.355,41.273c-.569-.389-.526-.68-.5-1.363.078-1.851.564-3.911.7-5.782-.012-.155-.432-.461-.541-.719a9.384,9.384,0,0,1-.164-2.879,1.527,1.527,0,0,1,1.35-1.361l8.029-.005,1.015-7.234c.234-1.03,1.533-.735,1.479.3-.719,3.159-.669,7.029-1.436,10.108a2.476,2.476,0,0,1-.956,1.477l.806,6.539a1.019,1.019,0,0,1-.5.92h-.5c-.455-.3-.48-.646-.57-1.176-.317-1.863-.367-3.916-.627-5.8l-5.874.015a1.25,1.25,0,0,0-.1.375c-.171,1.227-.389,5.466-.787,6.231a1.422,1.422,0,0,1-.321.357Z" transform="translate(11.183 14.535)" fill="#48a23e"/>
                    <path id="Tracé_1665" data-name="Tracé 1665" d="M29.938,30.8H22.353v1.854H29.19c.5,0,.873-1.4.747-1.854M21.355,41.273c-.569-.389-.526-.68-.5-1.363.078-1.851.564-3.911.7-5.782-.012-.155-.432-.461-.541-.719a9.384,9.384,0,0,1-.164-2.879,1.527,1.527,0,0,1,1.35-1.361l8.029-.005,1.015-7.234c.234-1.03,1.533-.735,1.479.3-.719,3.159-.669,7.029-1.436,10.108a2.476,2.476,0,0,1-.956,1.477l.806,6.539a1.019,1.019,0,0,1-.5.92h-.5c-.455-.3-.48-.646-.57-1.176-.317-1.863-.367-3.916-.627-5.8l-5.874.015a1.25,1.25,0,0,0-.1.375c-.171,1.227-.389,5.466-.787,6.231a1.422,1.422,0,0,1-.321.357Z" transform="translate(11.183 14.535)" fill="#48a23e"/>
                    <path id="Tracé_1666" data-name="Tracé 1666" d="M12.979,30.8H5.393c-.126.459.246,1.854.749,1.854h6.838ZM4.7,41.271a1.019,1.019,0,0,1-.5-.92L5,33.811a2.516,2.516,0,0,1-.956-1.477L2.6,22.131c.091-.952,1.07-1.151,1.473-.294L5.1,29.162l8.029.005a1.562,1.562,0,0,1,1.35,1.361,9.381,9.381,0,0,1-.164,2.879c-.109.257-.529.564-.541.719.138,1.871.624,3.931.7,5.782.028.683.071.974-.5,1.363h-.5a1.365,1.365,0,0,1-.321-.357c-.444-.957-.6-4.867-.787-6.231a1.3,1.3,0,0,0-.1-.375l-5.874-.015c-.26,1.886-.311,3.939-.627,5.8-.091.53-.115.873-.57,1.176Z" transform="translate(1.395 14.538)" fill="#48a23e"/>
                    <path id="Tracé_1667" data-name="Tracé 1667" d="M12.979,30.8H5.393c-.126.459.246,1.854.749,1.854h6.838ZM4.7,41.271a1.019,1.019,0,0,1-.5-.92L5,33.811a2.516,2.516,0,0,1-.956-1.477L2.6,22.131c.091-.952,1.07-1.151,1.473-.294L5.1,29.162l8.029.005a1.562,1.562,0,0,1,1.35,1.361,9.381,9.381,0,0,1-.164,2.879c-.109.257-.529.564-.541.719.138,1.871.624,3.931.7,5.782.028.683.071.974-.5,1.363h-.5a1.365,1.365,0,0,1-.321-.357c-.444-.957-.6-4.867-.787-6.231a1.3,1.3,0,0,0-.1-.375l-5.874-.015c-.26,1.886-.311,3.939-.627,5.8-.091.53-.115.873-.57,1.176Z" transform="translate(1.395 14.538)" fill="#48a23e"/>
                    </g>
                </svg>          
                <h3>+ 1 400 M²</h3>
                <span>D’espaces extérieurs</span>
            </div>
            <div class="grid-item">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="43.404" height="54.13" viewBox="0 0 43.404 54.13">
                    <defs>
                    <clipPath id="clip-path">
                        <rect id="Rectangle_445" data-name="Rectangle 445" width="43.403" height="54.13" fill="none"/>
                    </clipPath>
                    </defs>
                    <g id="Groupe_1192" data-name="Groupe 1192" transform="translate(0 0)">
                    <g id="Groupe_1191" data-name="Groupe 1191" transform="translate(0 0)" clip-path="url(#clip-path)">
                        <path id="Tracé_2581" data-name="Tracé 2581" d="M43.243,7.69c-.607,9.574,1.9,21.068-2.6,29.863-3.925,7.665-11.9,11.212-18.279,16.457l-1.091.122c-6.4-5.211-14.633-8.891-18.509-16.579C-1.721,28.661.748,17.342.159,7.69L21.584,0ZM39.523,10.4,21.561,3.969,3.879,10.4c.47,7.705-1.426,16.891,1.579,24.119,3.075,7.4,10.09,10.6,16.134,15.227,6.186-4.389,13.3-7.875,16.352-15.227,3.006-7.228,1.11-16.413,1.579-24.119" transform="translate(0 -0.001)" fill="#5ba364"/>
                        <path id="Tracé_2582" data-name="Tracé 2582" d="M25.189,11.721c.491.734,2.816,2.179,2.38,3.026L15.413,26.88c-.889-1.264-7.767-7.223-7.9-7.963-.076-.422,2.011-2.534,2.457-2.457.569.1,4.284,4.559,5.44,5.018Z" transform="translate(4.097 6.392)" fill="#5ba364"/>
                    </g>
                    </g>
                </svg>          
                <h3>Agents de sécurité <br>24h / 7j</h3>
                {# <ul>
                    <li>Agents de sécurité 24/24</li>
                    <li>Vidéosurveillance sur le périmètre du site</li>
                </ul> #}
            </div>
        </div>
    </div>
</section>
{% endblock %}
